#root {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin: 0;
  border: none;
  padding: 0;
  width: 100%;
  min-height: 111.5vh;
  background-color: white;
}

body {
  background: linear-gradient(to bottom, #f82462 0%,#f82462 31%,#ffffff 32%);
  background: linear-gradient(to right, blue 50%, yellow 50%);
  background: #f82462;
}

.app-content {
  flex: 1;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  padding: $navbar-height-lg 0 0;
  width: 100%;

  & > * {
    width: 100%;
  }

  @include media-breakpoint-down(md) {
    padding: $navbar-height-md 0 0;
  }

  @include media-breakpoint-down(sm) {
    padding: 0 !important;
    margin: $navbar-height-sm 0 0 !important;
    //padding: $navbar-height-sm 0 0;
  }
}

.container {
  min-height: min-content;
}

.page {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin: 0;
  border: none;
  padding: 0;
  width: 100%;
  min-height: 100px;
}

.section {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin: 0;
  border: none;
  padding: 0;
  width: 100%;
}

.app-error {
  position: fixed;
  top: 10px;
  right: 0;
  width: 500px;
  z-index: 10000;
  display: flex;
  align-items: center;
}

.app-error-text {
  flex: 1;
}

.app-error-close {
  margin-left: 15px;
  cursor: pointer;
}
