.fixed-sidebar {
  position: fixed !important;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  overflow: visible;
  z-index: 99;

  @include media-breakpoint-down(sm) {
    display: none;
  }

  .sidebar-item {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 0 22px;
    border: none;
    padding: 0 0 0 6px;
    width: 121px;
    height: 90px;
    overflow: visible;
    cursor: pointer;

    &:hover {
      .sidebar-item__icon {
        .icon-cart {
          &, & * {
            stroke: $white;
          }
        }

        .icon-heart {
          &, & * {
            fill: $white;
          }
        }
      }

      .sidebar-item__title {
        color: $white;
      }

      .sidebar-item__bg {
        background: $primary-color;
      }
    }

    .sidebar-item__icon {
      margin: 0 0 7px;
      z-index: 2;

      .icon-cart {
        width: 35px;
        height: 27px;

        path, circle {
          transition: .5s !important;
          transition-delay: unset;
        }

        &, & * {
          stroke: $primary-color;
        }
      }

      .icon-heart {
        width: 32px;
        height: 27px;

        path, circle {
          transition: .5s !important;
          transition-delay: unset;
        }

        &, & * {
          fill: $primary-color;
        }
      }
    }

    .sidebar-item__title {
      font-weight: bold;
      line-height: 1em;
      font-size: 16px;
      text-align: center;
      color: $primary-color;
      z-index: 2;
      transition: .5s !important;
      transition-delay: unset;
    }

    .sidebar-item__bg {
      position: absolute;
      top: 0;
      left: 0;
      border: 1px solid $white;
      border-right: none;
      width: 100%;
      height: 100%;
      background: $white;
      box-shadow: 0 14px 34px rgba(37, 37, 37, 0.05);
      transform-origin: bottom left;
      transform: skewX(-6.5deg);
      z-index: 0;
      transition: .5s !important;
      transition-delay: unset;
    }

    .sidebar-item__badge {
      position: absolute;
      top: 0;
      left: 10px;
      transform: translate(-50%, -50%);
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 5px;
      min-width: 29px;
      min-height: 29px;
      background-color: $primary-color;
      border-radius: 100px;
      box-shadow: 0 0 10px 1px rgba(255, 255, 255, .5);

      font-size: 16px;
      font-weight: bold;
      text-align: center;
      color: $white;
      line-height: 1em;
      z-index: 5;
    }
  }
}

@media(max-width: 700px) {
  .fixed {
    display: none !important;
  }
}
