/*
 * modal style
 */

// model 1
.cart-modal {
  width: 100%;
  max-width: 630px;
  padding: 0;
  text-align: center;
  flex: none;
  @media (max-width: 767px) {
    width: 100%;
  }
}
.styles_closeButton__20ID4 {
  right: -50px;
  cursor: pointer;

  svg {
    fill: #A6A6A6;
  }
}
.modal-cart-header {
  background-image: url('/images/add_to_cart.png');
  background-size: 100% 100%;
  height: 158px;
  font-size: 30px;
  color: white;
  text-align: left;
  padding: 37px;
  white-space: nowrap;
  align-items: center;
  display: flex;

  i {
    font-size: 83px;
    vertical-align: middle;
  }
  span {
    vertical-align: middle;
    margin-left: 4%;
  }

  @media (max-width: 767px) {
    height: 100px;
  }
}
.modal-cart-body {
  .modal-cart-info {
    padding: 30px;
    display: block;
    border-bottom: solid 1px #F4F4F4;

    span {
      display: block;
    }
  }
}
.modal-carted-product-name {
  font-family: Gotham Pro;
  font-size: 27px;
  line-height: 39px;
  color: #252525;
}
.modal-carted-days {
  width: 150px;
  margin: 15px auto;
  padding: 15px 10px;
  background-color: #ffe6e6;
  color: #F82462;
  font-weight: 800;
}
.modal-carted-duration {
  font-family: Helvetica Neue;
  font-size: 16px;
  line-height: 23px;
  text-align: center;
  color: #F82462;
}
.modal-cart-price-left {
  width: 50%;
  text-align: center;
}
.modal-cart-price-right {
  width: 50%;
  text-align: center;
}
.modal-cart-price-container {
  padding: 20px 0;
  border-bottom: solid 1px #F4F4F4;
}
.modal-cart-control {
  display: flex;
  justify-content: space-between;
  padding: 27px 21px;
}
.cart-control-left-button, .cart-control-right-button {
  width: 48%;
  padding: 10px 0;
  background-color: white;
  cursor: pointer;
}
.cart-control-left-button {
  color: #252525;
  font-weight: bold;
  border: solid 1px #d3d3d3;
}
.cart-control-right-button {
  border: none;
  background-color: #F82462;
  color: white;
}
.cart-button-space {
  width: 10%;
}
.modal-cart-price-container {
  .price-per-day {
    color: #252525;
  }
}

// model 2
.modal-cart-body-1 {
  padding: 30px;
  @media (max-width: 767px) {
    padding: 15px;
  }
  .modal-cart-info {
    padding: 10px;
    justify-content: center;
  }
  .pickup-date-container {
    padding: 0 !important;
  }
  .modal-cart-price-container {
    border: none;
    padding: 28px 0 19px 0;
  }
  .modal-cart-price-left {
    background-color: #fff7fa;
    padding: 24px 0;
  }
  .modal-cart-price-right {
    background-color: #fff2f6;
    padding: 24px 0;
  }
  .price-value {
    font-family: Gotham Pro;
    font-size: 20px;
    line-height: 25px;
    color: #F82462;
  }
  .price-text {
    font-family: Helvetica Neue;
    font-size: 16px;
    line-height: 27px;
    text-align: center;
    color: #F82462;
    opacity: 0.6;
  }
  .modal-cart-control {
    padding: 0;
    display: flex;
    justify-content: space-between;
  }
  .date-range-wrapper {
    margin-left: -222px !important;
  }
}
