@import "../variables";

.date-range-wrapper {
  position: absolute;
  width: 100%;
  background-color: white;
  z-index: 1;
  box-shadow: 1px 1px 10px 5px rgba(224, 224, 224, 0.49);
  margin-top: 46px;
  border-top: solid 2px #FC92B1;
  left: 0;
}
.rdrMonthAndYearPickers {
  position: absolute;

  & > span > select {
    option:hover {
      background-color: #f82462;
      color: white;
    }
  }
}
.rdrMonthAndYearWrapper {
  padding: 0;
  height: 45px;
  border-bottom: solid 1px #EAEAEA;
}
.rdrMonth {
  width: 100%;
}
.rdrMonthPicker {

}
.rdrPprevButton {
  position: relative;
  left: 72%;
  background-color: unset;
  i {
  }
}
.rdrNextButton {
  content: "<";
  background-color: unset;
  i {
  }
}
.rdrYearPicker {

}
.rdrDayNumber:hover {
  background-color: #fcccd5 !important;
  span {
    color: white;
  }
}
.rdrStartEdge, .rdrEndEdge {
  border-radius: unset !important;
  background-color: $primary-color;
}
.rdrInRange {
  border-radius: unset !important;
  background-color: #FC92B1;
}
.rdrDayEndPreview {
  display: none;
}
.rdrDayToday .rdrDayNumber span:after {
  background: $primary-color;
}