header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: stretch;
  width: 100%;
  min-height: 127px;
  background-color: $primary-color;
  position: relative;
  z-index: 1000;
}
