.about-us {
  width: 100%;

  .about-us-head {
    background-color: #f82462;
    padding: 2.6rem 0 0;
    overflow: hidden;
    position: relative;
    z-index: 1;

    .heading-mobile, .heading-body-mobile {
      display: none;
    }
    .head-container {
      display: flex;
      background-image: url('/images/aboutus/1.png');
      background-repeat: no-repeat;
      background-position: right;
      background-size: 35%;
      height: 355px;

      .head-left {
        width: 50%;
      }
      .head-right {
        width: 50%;
        img {
          float: right;
        }
      }
      .container {
        align-items: center;
        display: flex;
      }
    }
    .about-us-watermark {
      background-image: url('/images/home/creative.svg');
      background-size: cover;
      background-repeat: no-repeat;
      height: 145px;
      display: flex;
      align-items: center;
      justify-content: center;

      i {
        font-size: 40px;
        color: white;
        font-weight: 600;
      }
      .theme-big-text {
        margin: 0;
        padding: 0 !important;
        font-size: 13vw !important;
        color: white;
        opacity: 0.8;
        line-height: 0.85;
      }
     }

    .breadcrumb {
      margin: 0;
      padding-left: 0.5rem;
      color: $white;
      border: none;

      .breadcrumb-item {
        &::before {
          color: $white;
        }
      }

      .active {
        color: $white;
        font-weight: 800;
      }
    }

    span.thin {
      font-weight: normal;
    }
    h1 {
      color: $white;
      margin-bottom: 2rem;
    }

    .intro, p {
      color: $white;
      font-size: 27px;

      .bold {
        font-weight: 700;
      }
    }

    p.bread-crums {
      padding-top: 4rem;
    }

    p.about-desc {
      width: 80%;
      padding: 0;
      font-family: Helvetica Neue;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 27px;
      color: #FFFFFF;
    }

    .about-cm {
      margin-left: -20px;
    }

    @media(max-width: 767px) {
      .about-cm {
        margin: 0;
        width: 100%;
        padding-top: 1rem;
        text-align: center;
      }
    }
  }

  .about-us-body {
    position: relative;
    z-index: 5;
    background-color: white;

    .team-members {
      background: #faf8f9;
      padding-bottom: 124px;

      .container {
        padding-top: 90px;
      }
      h2.our-team {
        text-align: center;
        margin-top: 5rem;
        margin-bottom: 3rem;
      }

      .card {
        .card-title {
          bottom: 15%;
          color: $white;
        }

        .card-text {
          bottom: 10%;
        }
      }

    }

    .press {
      margin: 4rem 0;

      h2.press-title {
        text-align: center;
        margin-bottom: 3rem;
      }
      .press-container {
        overflow-x: auto;
      }
    }
  }
}

@media (max-width: 1067px) {
  .head-container {
    display: block;

    .head-left {
      visibility: hidden !important;
    }
    .head-right {
      width: 100%;
      position: absolute;
    }
  }
  .about-us {
    .heading-mobile {
      text-align: center;
      display: block !important;
    }
    .heading-body-mobile {
      position: absolute;
      top: 130px;
      line-height: 20px;
      display: block !important;
      font-size: 25px;

      & > div {
        width: 70%;
        margin: 0 auto;
        text-align: center;
        .intro {
          margin: 35px;
          font-size: 35px;
          font-weight: 600;
        }
        .about-desc {
          margin: 0 auto 45px;
          width: 100%;
          line-height: 70px;
        }
      }
    }
    .about-us-watermark {
      background-size: contain !important;
      height: 80px;
    }
    .about-us-body {
      margin-top: -20px;
      .team-members {
        .container {
          padding-top: 0;
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .about-us {
    .head-container {
      background-size: contain;
    }
    .heading-mobile {
      margin: 0 auto;
      nav {
        margin: 0 auto;
      }
    }
    .heading-body-mobile {
      margin-top: 25px;
      line-height: 50px;
      & > div {
        width: 90%;
        margin: 0 auto;
        text-align: center;
        p:nth-child(1) {
          margin: 0;
        }
        p:nth-child(2) {
          font-size: 20px;
        }
      }
      .about-desc {
        line-height: 45px !important;
        font-size: 22px !important;
      }
      .introduction {
        font-size: 24px !important;
      }
    }
    .about-us-watermark {
      height: 50px !important;
    }
    .about-us-body {
      margin-top: -20px;
      .team-members {
        .container {
          padding-top: 0;
          .our-tem {
            text-align: center;
            margin-top: 3rem;
            margin-bottom: 2rem;
          }
        }
      }
    }
  }
}