.about-us {
  width: 100%;

  .about-us-head {
    background-color: $primary-color;
    padding: 2.6rem 0;
    overflow: hidden;
    position: relative;
    z-index: 1;

    .head-container {
      display: flex;
      .head-left {
        width: 50%;
        padding-left: 140px;
      }
      .head-right {
        width: 50%;
        img {
          float: right;
        }
      }
    }
    .about-us-watermark {
      background-color: #f82462;
      height: 195px;
      opacity: 0.3;

      .theme-big-text {
        margin: 0;
        padding: 0 !important;
        font-size: 13vw !important;
        color: white;
        opacity: 0.8;
        line-height: 0.85;
      }
     }

    .breadcrumb {
      margin: 0;
      padding-left: 0.5rem;
      color: $white;
      border: none;

      .breadcrumb-item {
        &::before {
          color: $white;
        }
      }

      .active {
        color: $white;
        font-weight: 800;
      }
    }

    h1 {
      color: $white;
      margin-bottom: 2rem;
    }

    h4.intro, p {
      color: $white;
      font-size: 27px;

      .bold {
        font-weight: 700;
      }
    }

    p.bread-crums {
      padding-top: 4rem;
    }

    p.about-desc {
      width: 80%;
      padding: 0;
      letter-spacing: 1px;
      line-height: 24px;
      font-size: 16px;
    }

    .about-cm {
      margin-left: -20px;
    }

    @media(max-width: 767px) {
      .about-cm {
        margin: 0;
        width: 100%;
        padding-top: 1rem;
        text-align: center;
      }
    }
  }

  .about-us-body {
    position: relative;
    margin-top: -90px;
    z-index: 5;
    background-color: white;

    .team-members {
      background: #faf8f9;
      padding-bottom: 124px;

      .container {
        padding-top: 90px;
      }
      h2.our-team {
        text-align: center;
        margin-top: 5rem;
        margin-bottom: 3rem;
      }

      .card {
        .card-title {
          bottom: 15%;
          color: $white;
        }

        .card-text {
          bottom: 10%;
        }
      }

    }

    .press {
      margin-bottom: 4rem;

      h2.press-title {
        text-align: center;
        margin-bottom: 3rem;
      }
    }
  }
}
