.checkout {
  .billing-address, .order-info {
    margin-top: 15px;
    border: 15px solid #f4f5f6;

    .checkout-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-bottom: solid 1px #f6f6f6;
      padding: 28px;
    }

    .theme-form {
      display: flex;
      flex-direction: column;

      .theme-form-field {
        width: auto;
      }
    }
  }
  .billing-address {
    flex: 1.423;
  }
  .order-info {
    padding: 15px;
    margin-left: 15px;
    flex: 1;
  }

  .checkout-items {
    margin: 15px 0;

    .checkout-item {
      display: flex;
      justify-content: space-between;
      padding: 5px;
    }
  }

  .checkout-total {
    padding: 15px 0;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    text-align: right;
  }

  .checkout-total, .checkout-amount {
    & > * {
      padding: 5px 0;
    }

    span {
      display: inline-block;
      margin-right: 8px;
    }
  }

  .checkout-amount {
    margin-top: 15px;
    text-align: right;
  }

  .bottom-buttons {
    margin-top: 15px;
  }
}
