.dashboard {
  width: 100%;

  .dashboard-head {
    padding: 2.5rem 0 0;
    background-color: $gray-light;

    .user-detail {
      padding-bottom: 2rem;
      display: flex;
      align-items: center;
      .user-avatar{
        margin-right: 30px;
      }
      .user-info{

      }
      .user-name {
        margin-bottom: 1.5rem;
        padding: 0 15px;
      }

      img {
        width: 150px;
        height: 150px;
        border-radius: 50%;
      }

      p {
        margin-bottom: 0.25rem;
      }
    }

    .nav-tabs {
      border: none;
      cursor: pointer;

      .nav-link {
        background-color: #f4f5f6;
        border: none;
        color: $secondary-light-color;
        font-size: 0.85rem;
        font-weight: bold;
      }

      .active {
        border-bottom: 2px solid #f82462;
      }

    }
  }

  .dashboard-body {
    padding: 2rem 0;

    .chart {
      .wrraper {
        background-color: $gray-light;
        padding: 3rem;
        text-align: center;

        .line-chart {
          background-color: $white;
        }

        img {
          width: 100%;
        }

        .totel-listing, .totel-rental, .avaiable {
          background-color: $white;
          margin-top: 1rem;
          padding: 2rem 1.5rem;
          text-align: left;
        }
      }
    }

    .account-detail {
      .wrraper {
        background-color: $gray-light;
        padding: 3rem;
        text-align: center;

        img {
          width: 100%;
        }

        .card-body {
          border: none;
          margin-bottom: 1.5rem;
          padding: 0 0 1.5rem;

          .card-title {
            text-align: left;
            padding: 1rem 1.5rem;
            font-size: 0.85rem;
            letter-spacing: 1px;
            border-bottom: 1px solid $gray-lighten;
          }

          .card-text {
            padding: 0 1.5rem;
            margin-bottom: 1rem;
            text-align: left;

            label {
              margin: 0;
            }

            .form-control {
              border: none;
              border-bottom: 2px solid $gray-light;
              border-radius: 0;
              height: calc(2rem + 2px);

              &:focus {
                outline: none;
                box-shadow: none;
              }
            }

            .add-payment-method {
              border: 2px solid $gray-light;
              height: 100%;

              .add {
                width: 30px;
                height: 30px;
                background-color: $primary-color;
                border-radius: 50%;

                .fa {
                  color: $white;
                }
              }

              &:hover {
                background-color: $primary-color;

                .add {
                  background-color: $white;

                  .fa {
                    color: $primary-color;
                  }
                }
              }
            }
          }

          button {
            background-color: $primary-color;
            margin: 0 2rem;
            border: none;
            border-radius: 0;
          }
        }
      }
    }

    .my-listing {
      a.theme-btn-primary {
        padding-top: 9px !important;
      }

      .wrraper {
        background-color: $gray-light;
        padding: 3rem;
        text-align: center;

        .listing-data-slice {
          background-color: $white !important;
          text-align: left;

          th {
            font-weight: lighter;
          }

          .gear, .rental-period {
            p {
              margin: 0.25rem;
              text-align: left;
            }
          }

          td {
            vertical-align: middle;

            .gear-img {
              width: 70%;
            }

            .landrord-img {
              width: 25%;
              border-radius: 50%;
            }
          }
        }

        .pagination {
          justify-content: center;

          .page-link {
            color: $secondary-light-color;
            background-color: transparent;
            border: none;

            &:focus {
              box-shadow: none;
            }
          }

          .page-item.active .page-link {
            color: $primary-color;
            border: none;
            border-bottom: 2px solid $primary-color;
          }
        }
      }

      .my-rental {
        .wrraper {
          background-color: $gray-light;
          padding: 3rem;
          text-align: center;
        }
      }
      .empety-img {
        margin-bottom: 1.5rem;
        
      }
    

    }
    .my-listing-tabs{
      .wrraper{
        padding: 0;
        padding-top: 40px
      }
      .react-tabs__tab-list{
        border: 1px solid #f74962;
        border-radius: 30px;
        display: flex;
        overflow: hidden;
        margin: 0px auto 30px auto;
        max-width: 269px;
        height: 40px;
        li{
          width: 50%;
          padding-top: 10px;
          padding-bottom: 6px;
          transition: all 0.3s;
          bottom: auto;
          color: #f74962;

i{
  margin-right: 5px;
  font-size: 13px;
}
          border:none;
          background: transparent;
          &.react-tabs__tab--selected{
background: #f74962;
border-radius: 30px;
color: #fff

          }

        }
      }
    }
    .wrraper .empety-list p {
      font-size: 16px;
      font-weight: bolder;
      margin-bottom: 46px;
    }

  }
}

@media(min-width: 500px)  {
  .navbar-wrapper{
    flex-wrap: nowrap;
    .navbar-menu{
      width: 35%;
      display: flex;
      flex-direction: row-reverse;
      .logged-in ,
      .navbar-sm__sidebar-item{
        display: none !important;
      }
    }
  
    .navbar-right{
      width:65%;
      justify-content: flex-end;
      flex-wrap: nowrap;
       li > a{
        padding: 7px;
      }
    }
  }

}

@media (max-width:567px){
  .dashboard .dashboard-head .user-detail img{
    width: 100px;
    height: 100px;
  }
  .dashboard .dashboard-head .user-detail .user-avatar{
margin-right: 10px;
  }
  .dashboard .dashboard-head .user-detail .user-name{
    margin-bottom: 1rem;
  }
}