.dashboard {
  width: 100%;
  .tab-content {
    padding: 0 15px;
  }
  .dashboard-head {
    padding: 2.5rem 0 0;
    background-color: $gray-light;

    .user-detail {
      padding-bottom: 2rem;
      display: flex;
      align-items: center;
      .user-avatar{
        margin-right: 30px;
      }
      .user-info{
        padding:0px !important;
        h3{
          font-size: 27px;
          margin-bottom: 18px;
        }

      }
      .user-name {
        margin-bottom: 1.5rem;
        padding: 0 13px;
        font-family: Gotham Pro;
        font-size: 27px;
        line-height: 39px;
        color: #252525;
        font-weight: 800 !important;
      }
      .text-muted-email{
        font-size:16px;
      }


      .head-phone-region{
        margin-left:124px;
        padding:0px !important;
      }


      img {
        width: 156px;
        height: 156px;
        border-radius: 50%;
      }

      p {
        margin-bottom: 0.25rem;
      }
    }

    .nav-tabs {
      border: none;
      cursor: pointer;
      margin-left:15px;

      .nav-link {
        background-color: #faf8f9;
        border: none;
        color: $secondary-light-color;
        font-size: 16px;
        font-weight: bold;
        padding:10px 40px !important;
      }

      .active {
        border-bottom: 2px solid #f82462;
      }

    }
  }
  .dashboard-body {
    padding: 23px 0px 44px 0px !important;
    .dashboard-pagination {
      margin-top: 15px;
      width: 100%;
      background-color: #faf8f9;
    }
    .fa-table-selected{
      margin-top: -50px;
      .react-tabs__tab-list{
        margin-bottom: 22px !important;
        text-align: center !important;
        font-size:16px;
      }
      .wrraper_dashboard {
        padding: 30px 30px 52px 30px;
        .row {
          width: 100% !important;
        }
      }
    }

    .chart {
      .wrraper_dashboard {
        background-color: $gray-light;
        padding: 30px;
        text-align: center;

        .line-chart {
          background-color: #faf8f9;
          display: flex;
          margin-bottom: 30px;

          .chart-wrapper-left {
            width: 77%;
            background-color: white;
            border-right: solid 10px #faf8f9;
          }
          .chart-wrapper-right {
            width: 23%;
            text-align: left;
            .chart-detail-wrapper {
              background-color: white;
              padding: 25px 26px;
              height: 32%;
              vertical-align: center;
              align-items: center;

              &:first-child {
                border-left: solid 3px #F82462;
                margin-bottom: 9px;
              }
              &:nth-child(2) {
                border-left: solid 3px #B037CE;
                margin-bottom: 9px;
              }
              &:last-child {
                border-left: solid 3px #3C6BE2;
              }
              p {
                margin: 0;
              }
              .total-detail-heading {
                font-family: Helvetica Neue;
                font-size: 16px;
                line-height: 27px;
                color: #3A3A3A;
                opacity: 0.3;
              }
              .total-detail-value {
                font-family: Gotham Pro;
                font-size: 36px;
                line-height: 53px;
                color: #252525;
                font-weight: 900;
              }
              .total-detail-compare-value {
                font-family: Helvetica Neue;
                font-size: 16px;
                line-height: 27px;
                color: #70CE37;
              }
            }
          }
        }
        .total-count-wrapper {
          & > div {
            padding: 0;
            border-right: solid 30px #faf8f9;
            &:last-child {
              border-right: none !important;
            }
          }
          .totel-listing, .totel-rental, .avaiable {
            padding: 36px 54px 30px;
            background-color: $white;
            text-align: left;

            p {
              font-size: 16px;
              color: #252525;
            }
          }
          .available {
            border: none;
          }
        }
      }
    }

    .account-detail {
      .account-detail-heading {
        text-align: left;
        font-family: Gotham Pro;
        font-weight: 600;
        font-size: 16px;
        line-height: 23px;
        letter-spacing: 0.09em;
        text-transform: uppercase;
        border-bottom: 1px solid #f8f8f8;
        padding: 30px;
        color: #A4A4A4;
        .forgot-pwd-btn {
          float: right;
          margin-top: 8px;
          font-family: Helvetica Neue;
          font-size: 12px;
          line-height: 18px;
          text-align: center;
          letter-spacing: 0.03em;
          color: #F74377;
          text-decoration: underline;
        }
      }
      .wrapper-detail {
        text-align: center;
        display: flex;
        background-color: white;
        border: solid 30px #faf8f9;

        .detail-left-wrapper {
          width: 50%;
          border-right: solid 15px #faf8f9;
        }
        .detail-right-wrapper {
          width: 50%;
          border-left: solid 15px #faf8f9;
        }
        .account-detail-body {
          padding: 26px;
          .custom-beautiful-textfield {
            width: 100%;
          }
          .form-group {
            margin-bottom: 28px;
          }
          label, input {
            margin-left: 15px;
          }
          button {
            width: 100%;
          }
        }
        .text-muted {
          color: #A4A4A4 !important;
        }
        .row {
          width: 100%;
        }
      }
    }
    .my-listing {
      .listing-body {
        width: 100%;
      }
      a.theme-btn-primary {
        padding-top: 9px !important;
      }
      .wrraper_dashboard {
        background-color: $gray-light;
        padding: 30px;
        text-align: center;

        .col-sm-12 {
          padding: 0;
          background-color: white;
        }
        .listing-data-slice {
          background-color: $white !important;
          text-align: left;

          .circle-region-picture{
            border-radius:50%;
            width: 36px !important;
            height: 36px !important;
          }
          .listing-data-tbody {
            .gear-brand {
              font-family: Helvetica Neue;
              font-size: 16px;
              line-height: 28px;
              color: #252525;
            }
            .gear-category {
              font-family: Helvetica Neue;
              font-size: 12px;
              line-height: 18px;
              letter-spacing: 0.03em;
              color: #3A3A3A;
              opacity: 0.5;
            }
            .gear-price-per-day {
              font-family: Gotham Pro;
              font-size: 20px;
              line-height: 25px;
              color: #252525;
            }
            .gear-replacement-value {
              font-family: Gotham Pro;
              font-size: 20px;
              line-height: 25px;
              color: #252525;
              font-weight: 600;
            }
            .edit-gear-td {
              text-align: center;
            }
            p {
              margin: auto !important;
            }
            .listing-data-image{
              width:auto !important;
            }
            tr {
              td {
                padding: 9px 12px 9px 18px;
                //width: 90px;
                img{
                  height:70px;
                  width:70px;

                }
              }
            }
          }
          th {
            font-weight: lighter;
          }
          .gear, .rental-period {
            p {
              margin: 0.25rem;
            }
          }
          td {
            vertical-align: middle;
            .gear-img {
              width: 70px;
              height: 70px;
              object-fit: contain;
            }
            .landrord-img {
              width: 25%;
              border-radius: 50%;
            }
          }
        }
      }

      .my-rental {
        .wrraper_dashboard {
          text-align: center;
          padding: 0;
          background-color: white;
        }
      }
      .empety-img {
        margin-bottom: 1.5rem;
      }
    }
    .my-listing-tabs {
      .react-tabs__tab-list{
        border: 1px solid #f74962;
        border-radius: 30px;
        display: flex;
        overflow: hidden;
        margin: 0px auto 0px auto;
        max-width: 269px;
        height: 40px;

        li{
          width: 50%;
          padding-top: 10px;
          padding-bottom: 6px;
          transition: all 0.3s;
          bottom: auto;
          color: #f74962;
          border:none;
          background: transparent;

          .list-menu-letter{
            margin: 0 auto !important;
          }
          .list-calendar-letter{
            margin: 0 auto !important;
          }
          i{
            margin-right: 5px;
            font-size: 13px;
          }
          &.react-tabs__tab--selected {
            background: #f74962;
            border-radius: 30px;
            color: #fff;
          }
        }
      }
    }

    .wrraper_dashboard .empety-list p {
      font-size: 16px;
      font-weight: bolder;
      margin-bottom: 46px;
    }

  }
  .tab-title {
    font-size: 27px;
    margin-18ttom: 17px;
  }
  .list-table-head {
    display: contents;
  }
  .listing-data-thead {
    height:82px;
    text-align: center;
    th {
      padding-bottom: 26px;
      text-align: left;
      font-family: Helvetica Neue;
      font-size: 16px;
      line-height: 27px;
      color: #767676;
      border-top: none;
    }
  }
  .pagination {
    display: flex !important;
    justify-content: center;
    font-family: Gotham Pro;
    font-size: 16px;
    line-height: 23px;
    letter-spacing: 0.09em;
    text-transform: uppercase;
    color: #252525;

    .page-item {
      &:first-child {
        .page-link {
          span {
            visibility: hidden;
          }
        }
      }
      &:last-child a {
        content: "\u003C";
      }
    }

    .page-link {
      color: $secondary-light-color;
      background-color: transparent;
      border: none;

      &:focus {
        box-shadow: none;
      }
    }

    .page-item.active .page-link {
      color: $primary-color;
      border: none;
      border-bottom: 2px solid $primary-color;
    }
  }
}
.wrraper_dashboard .empety-list{
  padding:40px;
  background-color: #faf8f9 !important;
}
.d-lg-table-size{
  width: 100%;
}

/* order history */
.owner-profile img {
  border-radius: 18px;
}
.status-bar-container {
  width: 100%;
  font-size: 20px;
  display: flex;
  justify-content: center;

  & > .status-bar {
    font-family: Helvetica Neue;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    width: 84px;
    height: 25px;
    align-items: center;
    display: flex;
    justify-content: center;
    background: #1CDB74;
    -webkit-clip-path: polygon(0% 0%, 90% 0%, 100% 50%, 90% 100%, 0% 100%);
    clip-path: polygon(0% 0%, 90% 0%, 100% 50%, 90% 100%, 0% 100%);
  }
  .status-bar1 {
    z-index: 5;
  }
  .status-bar2 {
    z-index: 4;
    margin-left: -7px;
    background-color: #FBF6E8;
    color: #DBA61C !important;
  }
  .status-bar3 {
    z-index: 3;
    margin-left: -14px;
    background-color: #F4F4F4;
    color: #252525;
    opacity: 0.5;
    width: 84px;
    height: 25px;
    font-family: Helvetica Neue;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 0.03em;
    align-items: center;
    display: flex;
    justify-content: center;
  }

  .rotated-square {
    transform: rotate(45deg);
    width: 40px;
  }
}
.tb-project-name {
  cursor: pointer;
  font-family: Helvetica Neue;
  font-size: 16px;
  line-height: 28px;
  color: #252525;
}
.tb-category-name {
  cursor: pointer;
  font-family: Helvetica Neue;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.03em;
  color: #3A3A3A;
  opacity: 0.5;
  span {
    text-decoration-line: underline;
  }
}
.order-history-container {
  .cart-table-div {
    padding: 30px;
    background: #faf8f9;
  }
  .order-history-table {
    margin: 0 !important;
    border: none !important;
    tr {
      .tb-project-name {
        font-family: Helvetica Neue;
        font-size: 16px;
        line-height: 28px;
        color: #252525;
        font-weight: 600;
      }
      .tb_pay_per {
        font-family: Helvetica Neue;
        font-size: 21px;
        line-height: 37px;
        color: #252525;
        font-weight: 600;
      }
      img {
        width: 70px;
        height: 70px;
        object-fit: contain;
      }
    }
  }
  .dashboard-pagination {
    margin: 0 !important;
    padding: 0 0 25px !important;
  }
  tr {
    cursor: pointer;

    td {
      border: none;
    }
    .history-rental-duration {
      font-family: Helvetica Neue;
      font-size: 12px;
      line-height: 18px;
      letter-spacing: 0.03em;
      color: #3A3A3A;
      opacity: 0.5;
    }
    .history-rental-period {
      font-family: Helvetica Neue;
      font-size: 16px;
      line-height: 27px;
      color: #252525;
    }
    .to-payment-detail {
      width: 30px;
      height: 30px;
      border-radius: 15px;
      background-color: #F4F4F4;
      align-items: center;
      justify-content: center;
      display: flex;
    }
  }
}

.order-modal {
  width: 100%;
  max-width: 1000px !important;
}
.order-modal-header {
  text-align: center;
  padding: 60px 80px 40px;
  font-family: Gotham Pro;
  font-size: 49px;
  line-height: 47px;
  color: #252525;

  .edit_icon {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-left: 25px;
    vertical-align: middle;
    cursor: pointer;
    background-image: url('/images/Icons/cart/edit-p.svg');
  }
}
.order-modal-body {
  padding: 0 80px;
  text-align: left;

  .pay-info-history {
    padding: 0 !important;
  }
  .pay-info {
    padding: 0;
  }

  .payment-success-info {
    margin-top: 15px;
    display: flex;
    border: 30px solid #FAF8F9;
    padding: 30px;
    justify-content: space-between;

    span {
      width: 80px;
      display: inline-block;
      padding: 3px 0;
    }

    .payment-status {
      padding: 5px 10px;
      color: white;
      background: #1CDB74;
    }

    .checkout-amount {
      margin-top: 10px;
      padding-top: 10px;
      border-top: 1px solid lightgray;
    }
  }
  .payment-card {
    width: auto;
    min-height: 140px !important;
    padding: 15px 20px;
    box-shadow: 0 2px 22px -2px rgba(173, 173, 173, 0.2);
    border-radius: 10px;

    .payment-card-other {
      margin-top: 25px !important;
      justify-content: space-between;
      margin-top: 20px;
    }
    .payment-card-number {
      font-weight: bold;
      margin-top: 7px;
      min-height: 25px;
      font-family: Gotham Pro;
      font-size: 18px;
      line-height: 25px;
      letter-spacing: 0.14em;
      text-transform: uppercase;
      color: #000000;
      text-align: center;
    }
  }
  .rating-select-container {
    width: 50%;
    display: flex;
    align-items: flex-end;
    padding-left: 10%;

    .rating-select-inner {
      display: block;

      .rating-select-top {
        margin-bottom: 20px;
        font-family: Helvetica Neue;
        font-size: 14px;
        line-height: 25px;
        text-transform: uppercase;
        color: rgba(37, 37, 37, 0.5);
      }
      .rating-select-bottom {
        & > div {
          padding: 13px 0;
          width: 100%;
          display: flex;
          justify-content: space-between;
        }
      }
    }
  }
  .pickup-btn-container {
    display: flex;
    align-items: flex-end;

    div {
      width: 100%;
      font-family: Helvetica Neue;
      font-size: 16px;
      line-height: 20px;
      text-align: center;

      button {
        width: 100%;
      }
      .return-btn {
        background-color: white;
        border: solid 1px #FED3E0;
        color: #F82462;
      }
      .disabled-btn {
        border: solid 1px #929292;
        color: #929292;
        opacity: 0.5;
      }
      .success-btn {
        width: 100%;
        color: #1CDB74;
        background-color: #E9FCF2;
        margin-bottom: 17px;
      }
      .active-btn:hover {
        background-color: #F82462;
        border: solid 1px #F82462;
        color: white !important;
      }
      .warning-btn {
        background-color: #FBF6E8;
        margin-bottom: 17px;
        color: #DBA61C !important;
      }
      .warning-btn:hover {
        color: white !important;
        background-color: #F82462;
        border: solid 1px #F82462;
      }
    }
  }
}
.order-modal-footer {
  padding: 30px;
  display: flex;
  justify-content: center;

  .space-between {
    width: 21px;
  }
  button {
    width: 19%;
  }
  .view-receipt-btn {
    border: solid 1px #D3D3D3;
  }
}

/* order history pickup modal */
.pickup-modal {
  .pickup-success-header {
    height: 320px !important;
  }
  .pickup-modal-header {
    padding: 40px;
    height: 158px;
    background-color: #F82462;
    align-items: center;
    justify-content: center;
    font-family: Gotham Pro;
    font-size: 27px;
    line-height: 34px;
    text-align: center;
    color: #FFFFFF;
    display: flex;

    .pickup-heading {
      margin: 20px;
    }
    .pickup-sub-heading {
      font-family: Helvetica Neue;
      font-size: 16px;
      line-height: 27px;
      text-align: center;
      color: #FFFFFF;
    }
  }
  .pickup-success-body {
    padding: 40px !important;

    button {
      padding: 15px 40px;
    }
  }
  .pickup-modal-body {
    padding: 28px;

    .pickup-item-name {
      font-family: Gotham Pro;
      font-size: 27px;
      line-height: 34px;
      color: #252525;
    }
    .pickup-control {
      justify-content: center;
      display: flex;
    }
    .pickup-confirm-time {
      font-family: Gotham Pro;
      font-size: 16px;
      line-height: 23px;
      letter-spacing: 0.09em;
      text-transform: uppercase;
      color: #252525;
      margin: 20px 0;

      span {
        font-weight: 600;
      }
    }
  }
}

/* OrderHistory detail page */
.order-detail-container {
  .detail-top-button-container {
    display: flex;
    justify-content: center;
    font-family: Helvetica Neue;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #252525;
    margin-top: 100px;

    button {
      width: 18%;
      border: solid 1px #d3d3d3;
    }
    .space-between {
      width: 5%;
    }
  }
  .paid-item {
    display: block;

    .item-info-top {
      border-bottom: solid 1px #f0f0f0;
      padding: 30px 0;
    }
    .item-info-bottom {
      display: flex;

      .pay-info-history {
        padding: 0 !important;
      }
      .pickup-btn-container {
        width: 50%;
        padding-left: 80px;
        display: flex;

        & > div {
          margin-top: 50px;
          width: 100%;

          button {
            width: 100%;
          }
          .return-btn {
            background-color: white;
            border: solid 1px #FED3E0;
            color: #F82462;
          }
          .disabled-btn {
            border: solid 1px #929292;
            color: #929292;
            opacity: 0.5;
          }
          .success-btn {
            width: 100%;
            color: #1CDB74;
            background-color: #E9FCF2;
            margin-bottom: 17px;
          }
          .active-btn:hover {
            background-color: #F82462;
            border: solid 1px #F82462;
            color: white !important;
          }
          .warning-btn {
            background-color: #FBF6E8;
            margin-bottom: 17px;
            color: #DBA61C !important;
          }
          .warning-btn:hover {
            color: white !important;
            background-color: #F82462;
            border: solid 1px #F82462;
          }
        }
      }
    }
  }
}

/* Gear History */
.react-tabs__tab-panel--selected {
  padding:30px;
}
button.rent-cal-btn {
  border: solid 1px #F82462;
  color: #F82462;
  background-color: white;

  &:hover {
    color: white;
    background-color: #F82462;
  }
}
span.edit_my_gear {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin: 0;
  vertical-align: middle !important;
  cursor: pointer;
  background-image: url('/images/Icons/cart/edit-b.svg') !important;

  &:hover {
    background-image: url('/images/Icons/cart/edit-p.svg') !important;
  }
}
.gear-edit-modal {
  max-width: 1200px !important;
  height: 1400px;
  width: 100%;

  .gear-edit-modal-header {
    text-align: center;
    padding: 35px;
  }
  input {
    outline: none;
  }
  button {
    cursor: pointer;
  }
}
.rental-calendar-modal {
  max-width: 1200px !important;
  width: 1200px;
  height: 1100px;
}
.address-wrapper {
  display: flex;
  margin: 40px 0;

  .custom-input:first-child {
    margin-right: 25px;
  }
}
.react-tabs__tab-panel--selected {
  padding:30px;
}
.gear_history_next_btn {
  width: 30px;
  height: 30px;
  padding-right: 47px;
  background-repeat: no-repeat;
  background-image: url("/images/Icons/dashbord/next_gear_history.svg");
}
.order_history_sm_gearimage {
  padding:18px;
}
.order_history_sm_gear_name {
  padding-top:3vh;
}
.order_history_sm_gear_days {
  padding:18px;
  border-bottom: 1px solid #f5f5f5;
}
.order_history_client_image {
  padding:18px;
  display: flex;

  img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }
}
.order_history_client_namegroup {
   padding-top:12px;
   .order_history_client_first_name {
     font-size: 12px;
     line-height: 18px;
     letter-spacing: 0.03em;
     color: #3A3A3A;
     opacity: 0.5;
   }
   .order_history_client_second_name {
     font-family: Helvetica Neue;
     font-size: 16px;
     line-height: 27px;
     color: #252525;
   }
   p {
     margin:0;
   }
 }
.order_history_payment {
   padding:18px;
   border:1px solid #F5F5F5;
   p{
     margin:0;
   }
  .order_history_pay_group {
    border-right: 1px solid #F5F5F5;
  }
   .order_history_pay_title {
     font-family: Helvetica Neue;
     font-size: 12px;
     line-height: 18px;
     letter-spacing: 0.03em;
     color: #3A3A3A;
     opacity: 0.5;
   }
   .order_history_pay_perday_content {
     font-family: Gotham Pro;
     font-size: 20px;
     line-height: 25px;
     color: #252525;
   }
   .prder_history_amount_content {
     font-family: Gotham Pro;
     font-size: 20px;
     line-height: 25px;
     color: #252525;
     font-weight: 500;
   }
 }
.order_mobile_parent_div {
   border-bottom:20px solid #faf8f9;
 }
.order_rating_dialog_sm_parent {
   .order-modal-header{
     padding:5px;
     padding-right:0;
     font-weight: 700;
     font-family: Gotham Pro;
     font-size: 24px;
     line-height: 27px;
     color: #252525;
     .edit_icon {
       margin-left:10px;
     }
  }
   .order-modal-body {
      padding:0;
     .paid-item .pay-info {
       width: 100%;
       background-color: white;
     }
     .buyer-info {
       display: block;
       border-top: 1px solid #faf8f9;
       padding:15px;
       text-align: center;
       margin:0;
       .buyer-info-left {
         width: 100%;
         justify-content: center;
         display: flex;
           span {
             padding-top:12px;
         }
       }
       .buyer-info-right {
         width:100%
       }
     }
     .item-info {
       text-align: center;
       padding:15px;
       img {
         width:93px;
         height: 93px;
         object-fit: contain;
       }
      .order_history_gear_name_sm {
        width: 100%;
        .brand-model {
          font-family: Gotham Pro;
          font-size: 20px;
          line-height: 25px;/* identical to box height */
          text-align: center;
          font-weight: 700;
          color: #252525;
        }
      }
     }
   }
   .payment-info {
     padding:15px;
     text-align: center;
     border-top:1px solid #faf8f9;
     div {
       width: 100% !important;
     }
   }
   .rating-select-container {
     width: 100%;
     padding:35px;
     background-color: white;
     border-top:1px solid #faf8f9;
   }
   .payment-success-info {
     margin:0;
     border:0;
     padding:0;
     text-align: center;
     display: block;
     .text-gray {
       padding:10px 0;
     }
     .payment-card {
       padding:15px;
       margin:0;
     }
   }
   .order_history_competed_div_sm {
     border-top:1px solid lightgray;
     padding:25px;
   }
   .checkout-amount {
     padding:15px;
   }
   .order-modal-footer {
     border-top:1px solid lightgray;
     padding:15px 0;
   }
   .pickup-btn-container {
     padding:15px;
     background-color: white;
   }
}
.order_history_sm_parent_div {
  border:15px solid #faf8f9;
  display: none;
}
.mylistingitem_sm_parent_div {
  display: none;
  border-top: 17px solid #faf8f9;
  .mlspd_first {
    padding:20px;
    border-bottom:1px solid #faf8f9;
  }
  .mlspdf_name_tag {
    padding:20px;
  }
  .mlspds_child {
    padding:20px;
  }

  .mlspd_second_first {
    border-right: 1px solid #f5f5f5;
  }
  .slspd_third {
    padding:20px;
    border-top:1px solid #f5f5f5;
    div {
      font-family: Gotham Pro;
      font-size: 20px;
      line-height: 25px;
      color: #252525;
    }
    .slspdt_rental_btn {
      width: 80%;
      button {
        width: 100%;
      }
    }
    .slspdt_edit_icon {
      width: 20%;
      .edit_my_gear {
        margin: 5px 0 0 19px;
      }
    }
  }
  .mlspdf_name_tag_categoryName {
    font-family: Helvetica Neue;
    font-size: 16px;
    font-weight: 700;
    line-height: 28px;
    color: #252525;
  }
  .mlspdf_name_tag_brandName {
    font-family: Helvetica Neue;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.03em;
    color: #3A3A3A;
    opacity: 0.5;
  }
  .mlspd_second_replacementValue {
    font-family: Gotham Pro;
    font-size: 20px;
    line-height: 25px;
    font-weight: 800;
    color: #252525;
  }
}
.tablet-gear-item {
  display: none;
}
.desktop-gear-item {
  td {
    border-top: none;
  }
}

@media (min-width: 1078px) {
  .container {
    min-width: 1000px !important;
  }
  .order_history_sm_parent_div {
    display: none;
  }
}

@media(min-width: 500px) {
  .navbar-wrapper{
    flex-wrap: nowrap;
    .navbar-menu{
      width: 35%;
      display: flex;
      flex-direction: row-reverse;
      .logged-in {
        display: none !important;
      }
    }

    .list-menu-letter,list-calendar-letter{
      display: none;
    }

    .navbar-right{
      width:65%;
      justify-content: flex-end;
      flex-wrap: nowrap;
      li > a{
        padding: 7px;
      }
    }
  }
}

@media (max-width: 1077px) {
  .line-chart {
    margin-bottom: 18px !important;
    display: grid;
  }
  .chart-wrapper-left {
    width: 100% !important;
    border: none !important;
    order: 2;
  }
  .chart-wrapper-right {
    width: 100% !important;
    display: flex;
    margin-bottom: 18px !important;
    .chart-detail-wrapper {
      width: inherit !important;
      height: 100% !important;
      padding: 12px 18px !important;
      margin-bottom: 0 !important;

      .total-detail-heading {
        font-size: 12px !important;
        line-height: 18px !important;
        letter-spacing: 0.03em !important;
        color: #3A3A3A !important;
        opacity: 0.7 !important;
      }
      .total-detail-value {
        font-size: 16px !important;
        line-height: 23px !important;
        letter-spacing: 0.09em !important;
        text-transform: uppercase !important;
        color: #252525 !important;
      }
      .total-detail-compare-value {
        display: none;
      }
    }
  }
  .total-count-wrapper {
    .col {
      border-right: solid 18px #f5f5f5 !important;
      &:last-child {
        border-right: none !important;
      }
      & > div {
        height: 100%;
        padding: 12px 16px !important;
        display: grid;
      }
      h2 {
        order: 2;
        margin-bottom: 11px !important;
        font-size: 16px !important;
        line-height: 23px !important;
        letter-spacing: 0.09em !important;
      }
      p {
        font-size: 12px !important;
        line-height: 18px !important;
        letter-spacing: 0.03em !important;
        margin: 0 !important;
      }
    }
  }

  .account-detail {
    .account-detail-heading {
      padding: 34px 0 0 48px;

      .forgot-pwd-btn {
        float: right;
        margin-top: 8px;
        font-family: Helvetica Neue;
        font-size: 12px;
        line-height: 18px;
        text-align: center;
        letter-spacing: 0.03em;
        color: #F74377;
        text-decoration: underline;
      }
    }
    .wrapper-detail {
      text-align: left !important;
      display: block !important;
      border: none !important;

      .detail-left-wrapper {
        width: 100% !important;
        border: solid 18px #faf8f9;
        margin-bottom: 31px;
      }
      .detail-right-wrapper {
        width: 100% !important;
        border: solid 18px #faf8f9;
      }
      .account-detail-body {
        padding: 28px;
        label, input {
          margin-left: 15px !important;
        }
        input {
          text-align: left;
        }
        label {
          transform-origin: top left !important;
        }
        button {
          width: 100%;
        }
      }
    }
  }

  .gear-edit-modal {
    .edit_listgear_body_all {
      flex: none;
      display: block !important;
      & > div {
        flex: none;
        padding: 0 !important;
      }

      .edit_listgear_body_left {
        .ELBL_info {
          .ELBL_info_title {
            display: none;
          }
          form.add-gear-info {
            .ELBL_info_column {
              flex: none;
              display: block !important;
              color: #ccc;

              .dropdown-menu {
                margin-top: 287px !important;
                margin-left: -266px !important;
                width: 100%;
              }
              & > div:first-child {
                button {
                  width: 100%;
                }
              }
              & > div:last-child {
                padding-left: 0;
                .type-tab-div {
                  display: block;
                }
              }
            }
          }
        }
        .ELBL_type {
          .info-right-container {
            width: 100%;
            .type-tab-div {
              display: block !important;
              .kit-check {
                margin: 15px 0 !important;
              }
            }
          }
        }
        .ELBL_address {
          width: 100%;
          .add-gear-address {
            width: 100%;
            .address-wrapper {
              display: block !important;
              .custom-input {
                width: 100%;
                margin: 20px 0;
              }
            }
          }
        }
      }
      .edit_listgear_body_right {
        .ELBR_payment {
          margin-left: 0 !important;
        }
      }
    }
  }

  .my-listing {
    .desktop-gear-item {
      display: none;
    }
  }
  .wrraper_dashboard .listing-data-slice tr td {
    border: none;
  }
  .listing-data-thead {
    display: none !important;
  }
  .order-history-table {
    display: none !important;
  }
  .dashboard .dashboard-head .nav-tabs .nav-link {
    padding: 10px 15px !important;
  }
  .row {
    width: 100%;
  }
  .card-body {
    border: solid 20px #f5f5f5 !important;
  }
  .dashboard-head {
    img{
      width: 141px !important;
      height: 141px !important;
    }
  }
  .react-tabs__tab-list{
    width:111px;
    height:44px;
  }
  .table-content-name{
    font-size: 12px !important;
    opacity: 60%;
  }
  .table-content-name-body{
    font-size: 16px !important;
  }
  .list-p{
    width: 98px;
    height: 90px;
    p{
      margin: 0px;
    }
  }
  .list-data-right-td{
    p {
      margin: 0px !important;
    }
  }
  .wrraper_dashboard {
    padding: 0px !important;
    background-color: white !important;

    img {
      width: 90px !important;
      height: 90px !important;
    }
    .col-sm-12 {
      padding: 0;
      background-color: white;
    }
    .react-tabs__tab-panel {
      .table-responsive {
        margin-bottom: -14px;
        //.listing-data-slice {
        //  border-left: solid 17px #aaa;
        //  border-right: solid 17px #aaa;
        //}
      }
    }
    .listing-temp-right {
      padding: 1px !important;
      height: 140px;
      border-left: 1px solid #f3f3f3 !important;
      .listing-temp-right-top {
        height: 60px;
        padding: 15px 12px !important;
        .listing-temp-right-top-number {
          font-size: 14px !important;
          opacity: 50%;
        }
      }
      .listing-temp-right-bottom {
        border-top: 1px solid #f3f3f3 !important;
        height: 60px;
        .listing-temp-right-bottom-left {
          padding-left: 12px;
          width: 120px;
          border-right: 1px solid #f3f3f3 !important;
          .listing-temp-right-bottom-left-p {
            opacity: 0.5;
            font-size: 12px;
            padding-top: 12px !important;
            margin-left: 16px !important;
            color: $text-muted;
          }
        }
        .listing-temp-right-bottom-right {
          padding-left: 12px;
          width: 120px;
          .listing-temp-right-bottom-right-p {
            opacity: 0.5;
            font-size: 12px;
            padding-top: 12px !important;
            margin-left: 16px !important;
            color: $text-muted;
          }
        }

      }
    }

    .listing-data-slice {
      border-bottom: none !important;
    }

    .tablet-gear-item {
      display: flex;
      border: solid 16px #faf8f9;
      border-bottom: none;
      text-align: center;

      &:last-child {
        border-bottom: solid 16px #faf8f9 !important;
      }
      td {
        display: grid;
        align-items: center;
        &:last-child {
          border-left: solid 1px #f5f5f5;
          padding: 0 !important;
        }
        p {
          display: block;
        }
        .control-wrapper {
          padding: 10px 20px !important;
          display: flex;
          justify-content: space-evenly;
          align-items: center;
        }
        .price-wrapper {
          display: flex;
          border-bottom: solid 1px #f5f5f5;
          padding: 10px 20px !important;
          div {
            width: 50% !important;
            div {
              width: 100% !important;
            }
          }
          .gear-replacement-value, .gear-price-per-day {
            font-size: 16px !important;
          }
        }
        .gear-brand {
          order: 2;
        }
      }
      .gear-price-per-day, .gear-replacement-value {
        font-family: HelveticaNeueCyr;
        font-size: 16px;
        line-height: 23px;
        color: #252525;
      }
      .gear-replacement-value {
        font-weight: 600;
      }
    }

    .edit-rental-calendar {
      display: inline-block;
      width: 30px;
      height: 30px;
      vertical-align: middle !important;
      cursor: pointer;
      background-image: url('/images/Icons/calendar/calendar.svg') !important;
      background-repeat: no-repeat;
      margin-top: 3px !important;

      &:hover {
        background-image: url('/images/Icons/calendar/calendar1.svg') !important;
      }
    }
  }

  .listing-data-tbody {
    border-bottom: solid 16px #faf8f9 !important;
  }

  .dashboard-chart-wrapper {
    border: solid 18px #faf8f9;
    background-color: #faf8f9 !important;
  }

  .dashboard-pagination {
    background-color: white !important;
    margin: 0 !important;
  }

  .order-history-container {
    .dashboard-pagination {
      margin-top: 44px !important;
    }
    .cart-table-div {
      padding: 0 !important;
      background: #faf8f9;
      .tablet-gear-item {
        border: solid 16px #faf8f9;
        border-bottom: none;
        background-color: white;
        &:last-child {
          border-bottom: solid 16px #faf8f9 !important;
        }
        & > div {
          padding: 15px 20px;
          display: flex;
        }
        .grey-small-text {
          font-family: Helvetica Neue;
          font-size: 12px;
          line-height: 18px;
          text-align: center;
          letter-spacing: 0.03em;
          color: #3A3A3A;
          opacity: 0.5;
          text-align: left;
        }
        .order-item-top {
          border: solid 1px #f5f5f5;
          .order-item-img-wrapper {
            width: 15%;
            img {
              width: 70px;
              height: 70px;
              object-fit: contain;
            }
          }
          .order-item-name-category {
            width: 40%;
          }
          .order-item-state {
            display: flex;
            align-items: center;
            width: 45%;
          }
        }
        .order-item-bottom {
          & > div {
            display: grid;
          }
          .duration {
            width: 34%;
            .history-rental-period {
              font-family: Helvetica Neue;
              font-size: 16px;
              line-height: 27px;
              text-align: center;
              color: #252525;
              text-align: left;
            }
          }
          .owner {
            width: 33%;
          }
          .order-price-per-day {
            width: 16%;
          }
          .amouth {
            width: 17%;
            .gear-amouth-value {
              font-weight: 600;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .wrraper_dashboard {
    padding: 0 !important;

    .payment-card {
      width: 100% !important;
      margin-bottom: 20px;
    }
    .add-payment-method {
      min-height: 150px !important;
      margin: 0 !important;
    }
    .listing-data-slice {
      border-left: 17px solid #faf8f9;
      border-right: 17px solid #faf8f9;
      .tablet-gear-item {
        display: none;
      }
    }

    .line-chart {
      margin-bottom: 10px !important;
      display: grid;
    }
    .chart-wrapper-left {
      width: 100% !important;
      border: none !important;
      order: 2;
      overflow: hidden;
    }
    .chart-wrapper-right {
      width: 100% !important;
      display: block;
      margin-bottom: 0 !important;
      min-height: 300px;

      .chart-detail-wrapper {
        width: 100% !important;
        height: auto !important;
        padding: 12px 18px !important;
        margin-bottom: 10px !important;

        .total-detail-heading {
          font-size: 12px !important;
          line-height: 18px !important;
          letter-spacing: 0.03em !important;
          color: #3A3A3A !important;
          opacity: 0.7 !important;
        }
        .total-detail-value {
          font-size: 16px !important;
          line-height: 23px !important;
          letter-spacing: 0.09em !important;
          text-transform: uppercase !important;
          color: #252525 !important;
        }
        .total-detail-compare-value {
          display: none;
        }
      }
    }
    .total-count-wrapper {
      .col {
        border-right: solid 10px #faf8f9 !important;
        &:last-child {
          border-right: none !important;
        }
        & > div {
          padding: 12px 12px !important;
        }
        h2 {
          font-size: 16px !important;
          line-height: 23px !important;
          letter-spacing: 0.09em !important;
          margin: 0 !important;
        }
        p {
          font-size: 12px !important;
          line-height: 18px !important;
          letter-spacing: 0.03em !important;
          margin-bottom: 11px !important;
        }
      }
    }
  }

  .wrapper-detail {
    border: solid 10px #faf8f9 !important;
    .card-body {
      border: none !important;
      padding: 16px;
      button {
        width: 100%;
      }
      .forgot-pwd-btn {
        font-family: Helvetica Neue;
        font-size: 12px;
        line-height: 18px;
        text-align: center;
        letter-spacing: 0.03em;
        color: #F74377;
        text-decoration: underline;
      }
    }

    .account-detail-heading {
      padding: 25px 16px 10px 22px !important;
      .forgot-pwd-btn {
        font-size: 10px !important;
        margin-top: -10px !important;
      }
    }
    .detail-left-wrapper {
      width: 100% !important;
      border: solid 10px #faf8f9 !important;
      margin-bottom: 31px;
    }
    .detail-right-wrapper {
      width: 100% !important;
      border: solid 10px #faf8f9 !important;
    }
    .account-detail-body {
      padding: 16px !important;
      label, input {
        margin-left: 15px !important;
      }
      input {
        text-align: left;
      }
      label {
        transform-origin: top left !important;
      }
      button {
        width: 100%;
      }
    }
  }

  .listing-data-slice {
    border: none !important;
    margin-bottom: none !important;
  }
  .table-responsive {
    background: white;
  }
  .listing-data-image {
    margin: auto !important;
  }
  .wrraper_dashboard .listing-data-slice tr {
    height: 140px;
  }
  .list-table-head {
    display: none !important;
  }
  .mylistingitem_sm_parent_div {
    display: grid;
    border: solid 10px #faf8f9 !important;
    border-bottom: 0 !important;
    text-align: center;

    &:last-child {
      border-bottom: solid 16px #faf8f9 !important;
    }
    .listing-data-image {
      width: 25%;
    }
    .mlspdf_name_tag {
      width: 75%;
    }
    .slspdt_rental_btn, .slspdt_edit_icon {
      width: 50% !important;
    }
    .mlspdf_name_tag_categoryName {
      font-family: Helvetica Neue;
      font-size: 16px;
      line-height: 28px;
      color: #252525;
    }
    .mlspdf_name_tag_brandName {
      font-family: Helvetica Neue;
      font-size: 12px;
      line-height: 18px;
      letter-spacing: 0.03em;
      color: #3A3A3A;
      opacity: 0.5;
    }
    .mlspd_second_replacementValue {
      font-family: Gotham Pro;
      font-size: 20px;
      line-height: 25px;
      color: #252525;
    }
    .d-flex slspd_third {
      &>div {
        width: 50% !important;
      }
    }
  }

  .listing-data-tbody {
    border-bottom: 0 !important;
  }
  .table-responsive {
    margin-bottom: 0 !important;
  }
  .dashboard-chart-wrapper {
    background-color: #faf8f9 !important;
    border: solid 10px #faf8f9;
    width: 100%;
  }
}

@media (max-width:550px) {
  .dashboard{
    .dashboard-head{
      .user-detail{
        .user-avatar{
          margin-right:18px !important;
          img{
            display:block;
            border-radius: 50%;
            width: 36px !important;
            height: 36px !important;
            margin-bottom: 14px !important;
            margin-left: 7px !important;
          }
        }
        .user-info{
          .user-name{
            padding-left: 0px !important;
          }
          .row{
            display: none;
          }
        }
      }
      .nav{
        width: 100% !important;
        display: -webkit-box !important;
        a{
          padding: 10px !important;
          font-weight: 600;
        }
      }
    }
  }
  .dashboard-body{
    .listing-body{
      .align-items-center{
      }
      .fa-table-selected{
        margin-top:0px !important;

        .react-tabs__tab-list{
          width:100% !important;
          margin-left: 0px;
          margin-right: 0px;
          max-width: 1330px !important;
          margin-bottom: 16px !important;
          .list-menu-letter,list-calendar-letter{
            display: block !important;
          }


        }
        .wrraper_dashboard {
          padding: 0px 16px !important;

          .react-tabs__tab-panel {
            .table-responsive {
              .listing-data-slice {
                width:340px !important;
                .list-table-head {
                  display: none;
                }
                .listing-data-tbody {
                  tr {
                    td {
                      border-top: 16px solid #f3f3f3 !important;
                      &:last-child {
                        text-align: center;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  .centered-content {
    max-width: 470px;
    padding: 0 !important;
  }
  .gear-edit-modal {
    max-width: 100% !important;
    height: auto !important;
    padding: 15px !important;

    .gear-edit-modal-header {
      text-align: center;
      padding: 5px;
      h2 {
        font-size: 30px;
      }
    }
    .edit_listgear_body_all {
      flex: none;
      display: block !important;
      & > div {
        flex: none;
        padding: 0 !important;
      }
      .edit_listgear_body_left {
        .ELBL_info {
          .ELBL_info_title {
            display: none;
          }
          form.add-gear-info {
            .ELBL_info_column {
              flex: none;
              display: block !important;
              color: #ccc;

              .dropdown-menu {
                margin-top: 287px !important;
                margin-left: -266px !important;
                width: 100%;
              }
              & > div:first-child {
                button {
                  width: 100%;
                }
              }
              & > div:last-child {
                padding-left: 0;
                .type-tab-div {
                  display: block;
                }
              }
            }
          }
        }
        .ELBL_type {
          .info-right-container {
            width: 100%;
            .type-tab-div {
              display: block !important;
              .kit-check {
                margin: 15px 0 !important;
              }
            }
          }
        }
        .ELBL_address {
          width: 100%;
          .add-gear-address {
            width: 100%;
            .address-wrapper {
              display: block !important;
              .custom-input {
                width: 100%;
                margin: 20px 0;
              }
            }
          }
        }
      }
      .edit_listgear_body_right {
        .ELBR_payment {
          margin-left: 0 !important;
        }
      }
    }
    input {
      outline: none;
    }
    button {
      cursor: pointer;
    }
  }

  .styles_closeButton__20ID4 {
    top: -36px;
    right: 0 !important;
  }
  .styles_modal__gNwvD {
    margin-top: 10vh;
  }
}