.dashboard {
  width: 100%;

  .dashboard-head {
    padding: 2.5rem 0 0;
    background-color: $gray-light;

    .user-detail {
      padding-bottom: 2rem;
      display: flex;
      align-items: center;
      .user-avatar{
        margin-right: 30px;
      }
      .user-info{
        padding:0px !important;
        h3{
          font-size: 27px;
          margin-bottom: 18px;
        }

      }
      .user-name {
        margin-bottom: 1.5rem;
        padding: 0 13px;
        font-family: Gotham Pro;
        font-size: 27px;
        line-height: 39px;
        color: #252525;
        font-weight: 800 !important;
      }
      .text-muted-email{
        font-size:16px;
      }


      .head-phone-region{
        margin-left:124px;
        padding:0px !important;
      }


      img {
        width: 156px;
        height: 156px;
        border-radius: 50%;
      }

      p {
        margin-bottom: 0.25rem;
      }
    }

    .nav-tabs {
      border: none;
      cursor: pointer;
      margin-left:15px;

      .nav-link {
        background-color: #faf8f9;
        border: none;
        color: $secondary-light-color;
        font-size: 16px;
        font-weight: bold;
        padding:10px 40px !important;
      }

      .active {
        border-bottom: 2px solid #f82462;
      }

    }
  }

  .dashboard-body {
    padding: 23px 0px 44px 0px !important;
    .listing-data-pagenation{
      margin-top: 15px;
    }

    .tab-title-listings{
      margin-top: 13px;
    }
    .fa-table-selected{
      margin-top: -50px;
      .react-tabs__tab-list{
        margin-bottom: 22px !important;
        text-align: center !important;
        font-size:16px;
      }
      .wrraper{
        padding: 30px 30px 52px 30px;
      }
    }

    .chart {
      .wrraper {
        background-color: $gray-light;
        padding: 3rem;
        text-align: center;

        .line-chart {
          background-color: $white;
        }

        img {
          //width: 100%;
        }

        .totel-listing, .totel-rental, .avaiable {
          background-color: $white;
          margin-top: 1rem;
          padding: 2rem 1.5rem;
          text-align: left;
        }
      }
    }

    .account-detail {
      .wrraper {
        background-color: $gray-light;
        padding: 3rem;
        text-align: center;

        img {
          width: 100%;
        }

        .card-body {
          border: none;
          margin-bottom: 1.5rem;
          padding: 0 0 1.5rem;

          .card-title {
            text-align: left;
            padding: 1rem 1.5rem;
            font-size: 0.85rem;
            letter-spacing: 1px;
            border-bottom: 1px solid $gray-lighten;
          }

          .card-text {
            padding: 0 1.5rem;
            margin-bottom: 1rem;
            text-align: left;

            label {
              margin: 0;
            }

            .form-control {
              border: none;
              border-bottom: 2px solid $gray-light;
              border-radius: 0;
              height: calc(2rem + 2px);

              &:focus {
                outline: none;
                box-shadow: none;
              }
            }

            .add-payment-method {
              border: 2px solid $gray-light;
              height: 100%;

              .add {
                width: 30px;
                height: 30px;
                background-color: $primary-color;
                border-radius: 50%;

                .fa {
                  color: $white;
                }
              }

              &:hover {
                background-color: $primary-color;

                .add {
                  background-color: $white;

                  .fa {
                    color: $primary-color;
                  }
                }
              }
            }
          }

          button {
            background-color: $primary-color;
            margin: 0 2rem;
            border: none;
            border-radius: 0;
          }
        }
      }
    }

    .my-listing {
      a.theme-btn-primary {
        padding-top: 9px !important;
      }

      .wrraper {
        background-color: $gray-light;
        padding: 3rem;
        text-align: center;

        .listing-data-slice {
          background-color: $white !important;
          text-align: left;

          .circle-region-picture{
            border-radius:50%;
            width: 36px !important;
            height: 36px !important;
          }
          .listing-data-thead{
            height:82px;
            text-align: center;
            th{
              padding-bottom: 26px;
              text-align: left;
            }
          }
          .listing-data-tbody{
            p{
              margin: auto !important;
            }

            .listing-data-image{

              width:auto !important;
            }
            tr{
              td{
                padding: 9px 12px 9px 18px;
                //width: 90px;
                img{
                  height:70px;
                  width:70px;

                }
              }
            }
          }

          th {
            font-weight: lighter;
          }

          .gear, .rental-period {
            p {
              margin: 0.25rem;
              //text-align: left;
            }
          }

          td {
            vertical-align: middle;

            .gear-img {
              width: 70%;
            }

            .landrord-img {
              width: 25%;
              border-radius: 50%;
            }
          }
        }

        .pagination {
          justify-content: center;

          .page-link {
            color: $secondary-light-color;
            background-color: transparent;
            border: none;

            &:focus {
              box-shadow: none;
            }
          }

          .page-item.active .page-link {
            color: $primary-color;
            border: none;
            border-bottom: 2px solid $primary-color;
          }
        }
      }

      .my-rental {
        .wrraper {
          background-color: $gray-light;
          padding: 3rem;
          text-align: center;
        }
      }
      .empety-img {
        margin-bottom: 1.5rem;

      }


    }
    .my-listing-tabs{
      .wrraper{
        padding: 0;
        padding: 30px 30px 52px 30px;
      }
      .react-tabs__tab-list{
        border: 1px solid #f74962;
        border-radius: 30px;
        display: flex;
        overflow: hidden;
        margin: 0px auto 0px auto;
        max-width: 269px;
        height: 40px;
        li{
          width: 50%;
          padding-top: 10px;
          padding-bottom: 6px;
          transition: all 0.3s;
          bottom: auto;
          color: #f74962;

          .list-menu-letter{
            margin: 0 auto !important;
          }
          .list-calendar-letter{
            margin: 0 auto !important;
          }

i{
  margin-right: 5px;
  font-size: 13px;
}
          border:none;
          background: transparent;
          &.react-tabs__tab--selected{
background: #f74962;
border-radius: 30px;
color: #fff

          }

        }
      }
    }

    .wrraper .empety-list p {
      font-size: 16px;
      font-weight: bolder;
      margin-bottom: 46px;
    }

  }
}
.wrraper .empety-list{
  padding:40px;
  background-color: #faf8f9 !important;
}
.d-lg-table-size{
  width: 100%;
}


// order history
.owner-profile img {
  border-radius: 18px;
}
.status-bar-container {
  width: 100%;
  font-size: 20px;
  display: flex;

  & > .status-bar:before {
    content: "";
    left: 0;
    bottom: 0;
    width: 0;
    height: 0;
    border-left: 20px solid white;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
  }
  & > .status-bar:after {
    content: "";
    right: -20px;
    bottom: 0;
    height: 0;
    border-left: 20px solid red;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    width: 30%;
  }

  .rotated-square {
    transform: rotate(45deg);
    width: 40px;
  }
}
.tb-project-name, .tb-category-name {
  cursor: pointer;
}
.to-payment-detail {
  width: 30px;
  height: 30px;
  border-radius: 15px;
  background-color: #F4F4F4;
  align-items: center;
  justify-content: center;
  display: flex;
}
tr {
    cursor: pointer;
}
.order-modal {
  width: 100%;
  max-width: 1000px !important;
}
.order-modal-header {
  text-align: center;
  padding: 60px 80px 40px;
  font-family: Gotham Pro;
  font-size: 49px;
  line-height: 47px;
  color: #252525;

  .edit_icon {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-left: 25px;
    vertical-align: middle;
    cursor: pointer;
    background-image: url('/images/Icons/cart/edit-p.svg');
  }
}
.order-modal-body {
  padding: 0 80px;
  text-align: left;

  .pay-info-history {
    padding: 0 !important;
  }
  .pay-info {
    padding: 0;
  }

  .payment-success-info {
    margin-top: 15px;
    display: flex;
    border: 30px solid #FAF8F9;
    padding: 30px;
    justify-content: space-between;

    span {
      width: 80px;
      display: inline-block;
      padding: 3px 0;
    }

    .payment-status {
      padding: 5px 10px;
      color: white;
      background: #1CDB74;
    }

    .checkout-amount {
      margin-top: 10px;
      padding-top: 10px;
      border-top: 1px solid lightgray;
    }
  }
  .payment-card {
    width: auto;
    min-height: 140px !important;
    padding: 15px 20px;
    box-shadow: 0 2px 22px -2px rgba(173, 173, 173, 0.2);
    border-radius: 10px;

    .payment-card-other {
      margin-top: 25px !important;
      justify-content: space-between;
      margin-top: 20px;
    }
    .payment-card-number {
      font-weight: bold;
      margin-top: 7px;
      min-height: 25px;
      font-family: Gotham Pro;
      font-size: 18px;
      line-height: 25px;
      letter-spacing: 0.14em;
      text-transform: uppercase;
      color: #000000;
      text-align: center;
    }
  }
  .pickup-btn-container {
    width: 50%;
    padding-left: 10%;
    display: flex;
    align-items: flex-end;

    div {
      width: 100%;
      font-family: Helvetica Neue;
      font-size: 16px;
      line-height: 20px;
      text-align: center;

      button {
        width: 100%;
      }
      .return-btn {
        background-color: white;
        border: solid 1px #FED3E0;
        color: #F82462;
      }
      .disabled-btn {
        border: solid 1px #929292;
        color: #929292;
        opacity: 0.5;
      }
      .success-btn {
        width: 100%;
        color: #1CDB74;
        background-color: #E9FCF2;
        margin-bottom: 17px;
      }
      .active-btn:hover {
        background-color: #F82462;
        border: solid 1px #F82462;
        color: white !important;
      }
      .warning-btn {
        background-color: #FBF6E8;
        color: #DBA61C !important;
      }
      .warning-btn:hover {
        color: white !important;
        background-color: #F82462;
        border: solid 1px #F82462;
      }
    }
  }
}
.order-modal-footer {
  padding: 30px;
  display: flex;
  justify-content: center;

  .space-between {
    width: 21px;
  }
  button {
    width: 19%;
  }
  .view-receipt-btn {
    border: solid 1px #D3D3D3;
  }
}
//
//width: 150px;
//height: 150px;
//background: #1e90ff;
//-webkit-clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
//clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);

.order-detail {
  .detail-top-button-container {

  }
}

@media(min-width: 500px)  {
  .navbar-wrapper{
    flex-wrap: nowrap;
    .navbar-menu{
      width: 35%;
      display: flex;
      flex-direction: row-reverse;
      .logged-in ,
      .navbar-sm__sidebar-item{
        display: none !important;
      }
    }

    .list-menu-letter,list-calendar-letter{
      display: none;
    }

    .navbar-right{
      width:65%;
      justify-content: flex-end;
      flex-wrap: nowrap;
       li > a{
        padding: 7px;
      }
    }
  }

}



@media (max-width:1050px){
  .dashboard-head{
    img{
      width: 141px !important;
      height: 141px !important;
    }
  }
  .wrraper {
    img {
      width: 90px !important;
      height: 90px !important;
    }
  }

.react-tabs__tab-list{
  width:111px;
  height:44px;
}
  .table-content-name{
    font-size: 12px !important;
    opacity: 60%;
  }
  .table-content-name-body{
    font-size: 16px !important;

  }
  .list-p{
    width: 98px;
    height: 90px;
    p{
      margin: 0px;
    }
  }
  .list-data-right-td{
    p {
      margin: 0px !important;
    }
  }

  .wrraper {
    padding: 18px !important;
      .react-tabs__tab-panel {
        //margin-bottom: -14px;
        .table-responsive {
          margin-bottom: -14px;
          .listing-data-slice {

          }
        }
      }
    .listing-temp-right{
      padding: 1px !important;
      height: 140px;
      border-left: 1px solid #f3f3f3 !important;
      .listing-temp-right-top{
        height: 60px;
        padding: 15px 12px !important;
        .listing-temp-right-top-number{
          font-size: 14px !important;
          opacity: 50%;

        }
      }
      .listing-temp-right-bottom{
        border-top: 1px solid #f3f3f3 !important;
        height: 60px;

        //width: 120px;

        .listing-temp-right-bottom-left{
          //width:50% !important;
          padding-left: 12px;
          width: 120px;
          border-right: 1px solid #f3f3f3 !important;


          .listing-temp-right-bottom-left-p{
            opacity: 0.5;
            font-size: 12px;
            padding-top: 12px !important;
            margin-left: 16px !important;
            color: $text-muted;
          }
        }
        .listing-temp-right-bottom-right{
          //width: 50% !important;
          padding-left: 12px;
          width: 120px;
          .listing-temp-right-bottom-right-p{
            opacity: 0.5;
            font-size: 12px;
            padding-top: 12px !important;
            margin-left: 16px !important;
            color: $text-muted;
          }
        }

      }
    }
  }

  .wrraper-region{
    padding: 0px 18px !important;
  }

  .listing-data-image{
    margin: auto !important;
  }
  .wrraper .listing-data-slice tr{
    height: 140px;
    td {
      border-top: 18px solid #f3f3f3 !important;
      //padding: 25px 12px !important;
    }
  }

}

@media (max-width:550px){
  //.dashboard .dashboard-head .user-detail img{
  //  width: 100px;
  //  height: 100px;
  //}
  //.dashboard .dashboard-head .user-detail .user-avatar{
  //  margin-right: 10px;
  //}
  //.dashboard .dashboard-head .user-detail .user-name{
  //  margin-bottom: 1rem;
  //}
  .dashboard{
    .dashboard-head{
      .user-detail{
        .user-avatar{
          margin-right:18px !important;
          img{
            display:block;
            border-radius: 50%;
            width: 36px !important;
            height: 36px !important;
            margin-bottom: 14px !important;
            margin-left: 7px !important;
          }
        }
        .user-info{
          .user-name{
            padding-left: 0px !important;
          }
          .row{
            display: none;
          }
        }
      }
      .nav{
        width: 100% !important;
        display: -webkit-box !important;
          a{
            padding: 10px !important;
            font-weight: 600;
          }
      }
    }
  }



  .dashboard-body{
    .listing-body{
      .align-items-center{
        .tab-title-listings{
          margin-bottom: 14px !important;
          margin-top: 0px !important;
        }

      }
      .fa-table-selected{
        margin-top:0px !important;

        .react-tabs__tab-list{
          width:100% !important;
          margin-left: 0px;
          margin-right: 0px;
          max-width: 1330px !important;
          margin-bottom: 16px !important;
          .list-menu-letter,list-calendar-letter{
            display: block !important;
          }


        }
        .wrraper{
          padding: 0px 16px !important;
          .react-tabs__tab-panel{
            .table-responsive{
              .listing-data-slice{
                width:340px !important;
                .list-table-head{
                  display: none;
                }
                .listing-data-tbody{
                  tr {
                    width: 340px !important;
                    height: 356px !important;
                    td {
                      border-top: 16px solid #f3f3f3 !important;
                    }
                  }

                }
              }
            }
          }

        }
      }
    }

  }

}
