
.edit_listgear{
  padding-left:23px;
  .edit_listgear_header{
    margin-top:70px;
    .theme-page-title{
      font-family: Gotham Pro;
      font-size: 49px;
      line-height: normal;
      color: #252525;
    }
  }
  .edit_listgear_body_all{
    display: flex;
    .edit_listgear_body_left{
      .ELBL_info {
          flex-direction: column;
          margin-top: 10px;

          .flex-row > *:nth-child(n+2) {
            margin-left: 0 !important;
          }
          .flex-row {
            align-items: flex-start;

            &:first-child {
              margin-bottom: 25px;
            }
            .info_header {
              font-size: 11px;
              line-height: 13px;
              letter-spacing: 0.08em;
              text-transform: uppercase;
              color: #252525;
              margin: 0;
              padding-left: 15px;
            }
            .ELBLIC_div {
              padding: 0;
              margin: 0;

              &:first-child {
                padding-right: 10px;
              }
              &:last-child {
                padding-left: 10px;
              }
              .custom-beautiful-textfield {
                width: 100%;
                input {
                  padding: 0 0 17px 15px;
                }
              }
              .custom-auto-suggest-container {
                margin-top: 2px;
                margin-left: 1px;
                border-bottom: solid 1px #EAEAEA;
              }
              button {
                font-size: 16px;
                font-weight: 700;
                padding-bottom: 10px;
                padding-left: 15px;
                color: #000 !important;
              }
            }
            .ELBLIC_div3 {
              padding:0;
              margin:0;
              padding-left:27px;
              .custom-input {
                padding-top:11px;
                input {
                  padding-bottom: 28px;
                }
              }
            }
            .theme-form-field {
              margin:0;
              width: 100%;

              button {
                width: 100%;
              }
            }
            .placeholder-label{
              display: none;
            }
            input {
              font-family: Helvetica Neue;
              font-size: 16px;
              font-weight: 700;
            }
          }

          .theme-form-dropdown {
            .btn {
              border: 0;
              padding: 5px 10px 5px;
              opacity: 1;
              border-bottom: 1px solid lightgrey;
              color: #98989b !important;
              left: 0;
              top: 0;
              transform: none;
              position: relative;
              width: 90%;

              &:focus {
                background-color: #fff !important;
                box-shadow: none;
              }
            }
          }
        .ELBL_info_title{
          font-family: Helvetica Neue;
          font-size: 12px;
          line-height: 18px;
          letter-spacing: 0.03em;
          color: #252525;
          opacity: 0.5;
          padding-bottom:2px;
        }
        .ELBLI_desc {
          border: #e5e3e4 solid 1px;
          label{
            font-family: Helvetica Neue;
            font-size: 11px;
            line-height: normal;
            letter-spacing: 0.08em;
            text-transform: uppercase;
            color: #252525;
            opacity: 0.6;
            padding: 19px;
          }
          textarea{
            font-family: Helvetica Neue;
            font-size: 16px;
            height: 309px;
            padding: 19px;
            border: 0;
          }

        }
      }
      .ELBL_type {
        .info-right-container{
          display: block;
          .type-tab-div{
            margin-top:30px;
            display: flex;
            .type-tabs {
              white-space: nowrap;
              margin: 0;
              -webkit-overflow-scrolling: touch;
              input {
                display: none !important;
              }

              label {
                background: white;
                color: orange;
                padding: 5px 15px;
                border: 1px solid lightgray;
                display: inline-block;
                border-radius: 30px;
                margin-right: 5px;
                cursor: pointer;

                &.active {
                  color: white;
                  background-color: #00F077;
                  border: 1px solid #00F077;
                }
              }
            }
            .kit-check{
              margin-left: 59px;
              display: flex;
              label {
                margin-top:5px;
              }
            }
          }
          .form-accessories{
            margin-top: 43px;
          }
        }
      }
      .ELBL_photos{

        p {
          padding-top: 28px;
          padding-bottom: 10px;
        }
        .add-gear-images {
          border: 1px #dedede dashed;
          padding: 20px;
          display: flex;
          flex-wrap: wrap;
          justify-content: flex-start;

          .add-gear-image, .add-gear-addimage {
            height: 100px;
            width: 100px;
            border: 1px solid lightgray;
            margin: 0 10px 0px 0;
            display: flex;
            align-items: center;
            justify-content: center;
            overflow: hidden;

            .theme-form-field {
              margin:0;
            }
            img {
              width: 100%;
            }
          }

          .add-gear-addimage {
            i {
              font-size: 30px;
              color: $primary-color;
            }
          }
        }
      }
      .ELBL_address {
        .add-gear-address {
          .custom-beautiful-textfield {
            width: 35%;
            margin-right: 15px;
            input {
              padding-left: 15px;
            }
          }
          table {
            margin-top:25px;
            display: flex;
          input {
            font-size: 16px;
            }
          }
          .theme-form-field{
            margin-top:4px;
          }
          td {
            label {
              padding-left:5px;
            }
          }
        }
      }
    }
    .edit_listgear_body_right {
      .ELBR_payment{
        background-color: #faf8f9;
        padding: 10px;
        height: 446px;
        margin-left: 31px;
        .ELBLP_content{
          background-color: #fff;
          width: 100%;
          height: 100%;
          padding: 0px 25px;
          .ELBLPC_top{
            padding:5px;
            .ELBLPCT_pay{
              .ELBLPCTP_div{
                display: flex;
                .money_label {
                  background-color: #FAF8F9;
                  font-size: 49px;
                  color: #252525;
                  border: 0;
                  width: 30px;
                  padding: 0;
                  font-family: Gotham Pro;
                }
              }
              input {
                background-color: #FAF8F9;
                font-size: 49px;
                color: #252525;
                border:0;
                width: 100%;
                font-family: Gotham Pro;
              }
              p {
                margin: 0;
                padding-top: 25px;
                padding-bottom: 10px;
                color: #252525;
                opacity: 0.5;
              }

            }
          }
          .ELBLPC_down{
            display: grid;
            padding-top: 14px;
            button{
              padding:10px;
              margin: 8px 0;
              border: 1px solid #f82462;
              background-color: #fff;
              font-size: 16px;
              line-height: normal;
              text-align: center;
              color: #F82462;
            }
            .ed_save {
              background-color: #F82462;
              color: #fff;
            }
          }
        }
      }
    }
  }
}


.breadcrumb-item{
  font-family: Helvetica Neue;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.03em;
}
.type_title_css{
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.03em;
  color: #252525;
  padding-bottom:10px;
  opacity: 0.5;
  margin: 0;
}
@media(max-width: 780px){
  .add-gear-info {
    display: block !important;
    tr {
      display: block !important;
    }
  }
}


