.home {
  height: 100%;
  width: 100%;

  .row {
    width: 100%;
  }

  .rent-categories {
    line-height: 1em;

    button {
      height: 44px;
      width: auto;
      padding: 5px 20px;

      &:first-child {
        margin-left: 14px;
      }

      &:not(:first-child) {
        margin-left: 10px;
      }
    }
  }

  .home-head {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $primary-color;
    margin-bottom: 15px;
    color: $white;
    height: calc(100vh - 127px);
    min-height: min-content;
    max-height: 837px;

    .bold {
      font-weight: bold;
    }

    .logo {
      margin: 65px 0 83px;
      width: 290px;
      height: 59px;
    }

    .title {
      margin: 0 0 25px;
      color: $white;
      font-size: 44px;
      font-weight: bold;
      line-height: 1em;

      @include media-breakpoint-down(md) {
        font-size: 30px;
      }
    }

    .sub-title {
      margin: 0 0 35px;
      font-size: 18px;
      font-weight: 300;
      line-height: 1em;
      color: $white;
    }

    .theme-btn {
      img {
        height: 32px;
        margin-right: 5px;
      }
    }

    input {
      color: white;
    }

    .list-group {
      @extend .theme-text-small;
      max-height: 200px;
      overflow: auto;

      .list-group-item {
        border-radius: 0;
        color: #333;
        padding: 5px 15px;
        border: 0;
        cursor: pointer;
      }
    }

    .location-input {
      margin-right: 15px;
      position: relative;
    }

    .search-input {
      position: relative;
      margin-right: 15px;
      width: 372px;
    }

    .search-button {
      width: 80px !important;
      min-width: 80px !important;
      height: 52px !important;
    }

    .search-suggestions {
      width: 372px;
      position: absolute;
    }
  }

  .home-body {
    padding-top: 35px;

    .container {
      .row {
        margin: 20px 0;
      }
    }
    .theme-row {
      justify-content: space-between;

      .wrapper {
        display: flex;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 444;
      }
    }

    .new_arrival {
      background-image: url('/images/New-arrivals_bg.png');
      background-repeat: round;
      background-size: contain;
      margin: 4rem 0 0;
      text-align: center;

      .section-overlay {
        padding: 2rem 0;
      }
    }

    .stories {
      background-color: #FAF8F9;
      padding: 3rem 0;
    }

  }
}

.block-e1-size {
  width: 30% !important;
  height: 200px !important;
}

.block-e2-size {
  width: 20.8% !important;
  height: 170px !important;
}

.block-el {
  position: relative;
  padding: 0 15px !important;
  margin: 0 10px !important;
  float: left;
}

.block-el:hover .block-bg {
  background-color: $primary-color;
}

.block-el:hover .block-content {
  span {
    color: $white;
  }

  .block-bg {
    background-color: $primary-color;
    &::before {
      background-color: $primary-color;
    }
  }

  button {
    display: block;
    padding: 10px 35px;
  }

  #camera {
    background-image: url('/images/Icons/catogories/h12.png');
  }

  #computer_electronic {
    background-image: url('/images/Icons/catogories/h22.png');
  }

  #drones {
    background-image: url('/images/Icons/catogories/h32.png');
  }

  #lenses {
    background-image: url('/images/Icons/catogories/h42.png');
  }

  #lighting {
    background-image: url('/images/Icons/catogories/h52.png');
  }

  #audio {
    background-image: url('/images/Icons/catogories/h62.png');
  }

  #tripods_stabilization_rigs {
    background-image: url('/images/Icons/catogories/h72.png');
  }

  #camera_accessories {
    background-image: url('/images/Icons/catogories/h82.png');
  }

  #studio_spaces {
    background-image: url('/images/Icons/catogories/h92.png');
  }

  #office_spaces {
    background-image: url('/images/Icons/catogories/ha2.png');
  }

  #others {
    background-image: url('/images/Icons/catogories/hb2.png');
  }
}

.block-content {
  position: relative;
  z-index: 3333;
  height: 100%;
  display: flex;
  align-items: center;

  button {
    display: none;
    padding: 10px 35px;
    transition: .3s !important;
  }

  span {
    transition: .3s !important;
  }

  p {
    flex: 1;
    width: 100px;
    height: 100px;
    margin: 0;
    background-repeat: no-repeat;
    background-position: center;
    transition: .3s !important;
  }

  div.desc {
    flex: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;

    button {
      padding: 10px 35px;
    }
  }

  #camera {
    background-image: url('/images/Icons/catogories/h11.png');
  }

  #computer_electronic {
    background-image: url('/images/Icons/catogories/h21.png');
  }

  #drones {
    background-image: url('/images/Icons/catogories/h31.png');
  }

  #lenses {
    background-image: url('/images/Icons/catogories/h41.png');
  }

  #lighting {
    background-image: url('/images/Icons/catogories/h51.png');
  }

  #audio {
    background-image: url('/images/Icons/catogories/h61.png');
  }

  #tripods_stabilization_rigs {
    background-image: url('/images/Icons/catogories/h71.png');
  }

  #camera_accessories {
    background-image: url('/images/Icons/catogories/h81.png');
  }

  #studio_spaces {
    background-image: url('/images/Icons/catogories/h91.png');
  }

  #office_spaces {
    background-image: url('/images/Icons/catogories/ha1.png');
  }

  #others {
    background-image: url('/images/Icons/catogories/hb1.png');
  }
}

.block-el .block-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: $white;
  transform: skewX(-15deg);
  box-shadow: 2px 2px 17px -2px #eceaea;
  transition: .3s !important;
}

.block-el:first-child .block-bg::before {
  content: '';
  position: absolute;
  z-index: 333;
  width: 65px;
  height: 210px;
  transform: skewX(15deg) translateX(-35px);
}

.block-el:last-child .block-bg::before {
  content: '';
  position: absolute;
  right: -74px;
  top: 0;
  z-index: 333;
  width: 65px;
  height: 200px;
  -webkit-transform: skewX(15deg) translateX(-35px);
  transform: skewX(15deg) translateX(-35px);
}

.paySection {
  min-height: 650px;
  width: 100%;
  padding: 4em 0 1em;

  .container {
    display: flex;
    .paySection2-container {
      flex: 0 0 100%;
      max-width: 40%;
      align-items: center;
      display: flex;

      @media (max-width: 1067px) {
        max-width: 100%;
        .paySection2 {
          display: block;
        }
      }
    }
    @media (max-width: 1067px) {
      padding-bottom: 0;
      display: block;
      .paySection2-container {
        & > div {
          display: flex;
          width: 100%;
        }
      }
      .paySection1 {
        width: 100%;
        .pay-container {
          width: 75%;
          text-align: center;
          p {
            text-align: center !important;
          }
        }
      }
    }
  }
  .pay-section-title {
    font-size: 40px;
  }
  .pay-section-back-img {
    width: 55%;
    height: 535px;
    position: absolute;
    left: 45%;
    background: url('/images/home/new-arrival-bg.svg');
    background-position-x: right;
    background-size: cover;

    @media (max-width: 1067px) {
      height: 685px;
      display: none;
    }
  }
  .pay-section-back-img-sm {
    display: none;
    @media (max-width: 1067px) {
      background-position-x: -110px;
      background-repeat: no-repeat;
      height: 500px;
      width: 100%;
      display: block;
      position: absolute;
      margin-top: 154px;
      background-size: 116%;
      background-image: url('/images/home/new-arrival-bg.svg');
    }
  }
}

.calendarSection {
  display: flex;
  flex-direction: row;
  width: 86px;
  margin-left: 15px;
}

.paySection1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 600px;
  text-align: center;
  padding: 80px 0;
  z-index: 100;

  .pay-container {
    width: 53%;
    text-align: left;
  }
  .pay-section1__title {
    margin: 105px 0 50px 180px;
  }

  .pay-section1__desc {
    font-size: 16px;
    text-align: left !important;
    margin: 50px 0 !important;
  }

  @media screen and (max-width: 1300px) {
    .pay-section1__title {
      margin: 80px 0 30px 100px;
    }

    .pay-section1__desc {
      font-size: 16px;
      margin: 0 0 30px 100px;
    }

    .pay-section1__cta {
      margin: 0 0 0 100px;
    }
  }

  @media screen and (max-width: 1000px) {
    .pay-section1__title {
      font-size: 30px;
      margin: 80px 0 30px 50px;
    }

    .pay-section1__desc {
      font-size: 16px;
      margin: 0 0 30px 50px;
    }

    .pay-section1__cta {
      margin: 0 0 0 50px;
    }
  }
}

.paySection2 {
  display: flex;
  img {
    margin-right: 20px;
  }
}

.search-results-container {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}


@media(max-width: 1203px) {
  .calendarSection {
    margin-left: -19px;
  }
  .button {
    margin-left: -4px !important;
  }
}

@media(max-width: 1092px) {
  .calendarSection {
    margin-left: -81px;
  }
  .button {
    margin-left: -66px !important;
  }
  .arrivalText {
    margin-left: -81px;
  }
}

@media(max-width: 500px) {
  .home {
    .home-head .title {
      font-size: 30px;
      //font-weight: 500;
      line-height: normal;
    }

    .home-head .desc {
      width: 75%;
      margin: 0 auto;

      span {
        font-size: 20px;
        font-weight: 300;
        letter-spacing: -0.01em;

      }
    }

    .rent-categories {
      display: none;
    }

    .theme-form {
      width: 75%;
      margin: 0 auto;
      display: block !important;
    }

    .theme-btn {
      display: block;
      width: 40px;
      margin-top: 10px;
    }

    .block-el {
      width: 80%;
      margin: 0 auto;
      float: none;
      margin-bottom: 20px;
    }

    .block-el:first-child .block-bg::before,
    .block-el:last-child .block-bg::before {
      display: none;
    }
  }

}

.home-new-arrival {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: stretch;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 721px;

  .faq-background-img {
    width: 45%;
    height: 721px;
    position: absolute;
    background-image: url('/images/home/faq-bg.svg');
    background-repeat: no-repeat;
    background-position-x: left;
    background-size: cover;
    z-index: -1;
  }
  .container {
    display: flex;
  }
  .faq-left {
    width: 40%;
    display: flex;
    align-items: center;

    .faq-form {
      .arrival-timer-title {
        margin-bottom: 30px;
      }
      .faq-wrapper {
        div:first-child {
          margin-bottom: 40px;
        }
        span {
          line-height: 1.9;
        }
        button {
          width: 100%;
          height: 45px;
        }
        i {
          opacity: 0.5;
        }
      }
    }
  }
  .arrival-items {
    width: 60%;
    margin-left: 74px;
  }

  .arrival-timer {
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 -150px 0 0;
    max-width: 895px;
    width: 100%;
    height: 721px;
    z-index: 1;

    .arrival-timer-title {
      margin-bottom: 50px;
      color: $secondary-color;
    }

    .arrival-timer-frame {
      display: flex;
      flex-direction: column;
      align-items: stretch;
      justify-content: flex-start;

      .arrival-timer-slot-row {
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .arrival-timer-slot {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0 3px 3px 0;
        border: none;
        padding: 0;
        width: 150px;
        height: 150px;
        background: $white;

        &:last-child {
          margin-right: 0;
        }

        .slot-heading {
          margin-bottom: 10px;
        }

        .slot-value {
          font-size: 52px;
          font-weight: bold;
          line-height: 1em;
          color: $secondary-color;
        }
      }

      .arrival-timer-find-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 50px;
        background: $primary-color;
        font-size: 16px;
        color: $white;
        font-weight: bold;
      }
    }
  }

  .arrival-items {
    flex-grow: 1;
    flex-shrink: 1;
    position: relative;
    display: flex;
    width: 100%;
    height: 721px;
    overflow: hidden;
    z-index: 2;

    .arrival-items-inner-wrapper {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      align-items: flex-start;
      justify-content: space-between;
      align-content: flex-start;
      padding: 20px;
      width: auto;
      height: 100%;
    }

    .arrival-item {
      position: relative;
      display: flex;
      flex-direction: column;
      align-content: stretch;
      justify-content: flex-end;
      margin: 0 20px 20px;
      width: 410px;
      height: 307px;
      background-position: center;
      background-size: cover;
      cursor: pointer;

      &:hover {
        .arrival-item-info-bg {
          opacity: .8;
        }

        .arrival-item-info-bottom .info-bottom-go-btn {
          background: $primary-color;
        }
      }

      .arrival-item-info-middle {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-end;
        margin: 0;
        border: none;
        padding: 12px 20px;
        width: 100%;
        height: min-content;
        z-index: 2;

        .info-category {
          margin: 0 5px 10px 0;
          font-size: 12px;
          font-weight: normal;
          line-height: 1em;
          color: rgba(255, 255, 255, .7);
        }

        .info-title {
          margin: 0;
          line-height: 25px;
          font-size: 18px;
          text-transform: uppercase;
          color: $white;
        }
      }

      .arrival-item-info-separator {
        border: none;
        margin: 0 22px;
        width: calc(100% - 44px);
        height: 1px;
        z-index: 2;
        background: rgba(255, 255, 255, 0.05);
      }

      .arrival-item-info-bottom {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin: 0;
        border: none;
        padding: 12px 22px;
        width: 100%;
        height: 60px;
        z-index: 2;

        .info-price-wrapper {
          display: flex;
          align-items: flex-end;
          justify-content: flex-start;

          .info-price {
            margin: 0 5px 0 0;
            font-size: 22px;
            font-weight: bolder;
            line-height: 1em;
            color: $white;
          }

          .info-unit {
            margin: 0 5px 2px 0;
            font-size: 12px;
            font-weight: normal;
            line-height: 1em;
            color: rgba(255, 255, 255, .5);
          }
        }

        .info-bottom-go-btn {
          display: flex;
          align-items: center;
          justify-content: center;
          margin: 0;
          border: none;
          border-radius: 50%;
          padding: 0;
          width: 30px;
          height: 30px;
          background: rgba(255, 255, 255, .1);
          cursor: pointer;
          transition: .5s;

          svg {
            &, & * {
              fill: transparent;
            }
          }

          &:hover {
            background: $primary-color;
          }
        }
      }

      .arrival-item-info-bg {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 175px;
        opacity: 0;
        transition: .5s;

        background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%), linear-gradient(359.53deg, #000000 0.7%, rgba(0, 0, 0, 0) 98.82%);
        z-index: 1;
      }
    }

    .arrival-items-glow {
      position: absolute;
      right: 0;
      top: 0;
      width: 285px;
      height: 100%;

      background: linear-gradient(270deg, #fff 0%, #fff 20%, rgba(255, 255, 255, 0) 100%);
      z-index: 3;
      pointer-events: none;
    }
  }
}

@media (min-width: 768px) and (max-width: 1077px) {
  .paySection {
    height: 500px;
    width: 100%;
    display: block;

    .container {
      display: grid;
      padding: 0;

      .paySection2-container {
        order: 2;
        .paySection2 {
          margin-top: 50px;
          img {
            margin-right: 0;
          }
        }
      }
      .paySection1 {
        padding: 45px 0;
        min-height: auto;
        background-position-x: -110px;
        background-position-y: bottom;
        background-repeat: no-repeat;
        width: 100%;
        display: flex;
        background-image: url('/images/home/new-arrival-bg.svg');
        .pay-container {
          width: 75%;
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .paySection {
    .container {
      display: grid;
      padding: 0;

      .paySection2-container {
        order: 2;
        & > div {
          display: block;
        }
        .paySection2 {
          display: flex;
          text-align: left;
        }
      }
      .paySection1 {
        background-position-x: -110px;
        background-position-y: bottom;
        background-repeat: no-repeat;
        width: 100%;
        //display: flex;
        background-image: url('/images/home/new-arrival-bg.svg');
        button {
          width: 100%;
        }
      }
    }
  }
  .news-letter-container {
    margin-top: 0 !important;
    div {

    }
  }
}