.auth-sidemenu {
  background: $primary-color;
  width: 30%;

  .app-nav-logo {
    position: absolute;
    left: 15px;
    bottom: 15px;
  }

  header {
    background: transparent;
  }
}

.auth-container {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  padding: 0;
  height: 100vh;
  align-items: stretch;
  justify-content: flex-start;
}

.login {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;

  .login-or-divider {
    margin-top: 15px;
  }

  .theme-btn-link {
    margin-left: 10px;
  }
}

.login.success-message {
  .theme-btn-link {
    margin: 10px 0 0 0;

    &:nth-child(n + 2) {
      margin-left: 10px;
    }
  }
}

@media(max-width: 500px) {
  .auth-sidemenu {
    width: 100%;
  }
}
