.payment {
  .payment-head {
    padding-top: 3rem;
    margin-bottom: 2rem;
  }
  .payment-title {
    margin-bottom: 25px;
  }
  .payment-card {
    border: 1px solid lightgray;
    padding: 10px;
    width: 300px;

    .payment-card-number {
      font-weight: bold;
      margin-top: 20px;
    }

    .payment-card-other {
      justify-content: space-between;
      margin-top: 20px;
    }
  }
}

.payment-success-message {
  h1, .theme-page-title {
    text-align: center;
  }

  .payment-success-info {
    margin-top: 15px;
    display: flex;
    border: 10px solid lightgray;
    padding: 15px;
    justify-content: space-between;

    span {
      width: 80px;
      display: inline-block;
      padding: 3px 0;
    }

    .payment-status {
      padding: 5px 10px;
      color: white;
      background: green;
    }

    .checkout-amount {
      margin-top: 10px;
      padding-top: 10px;
      border-top: 1px solid lightgray;
    }
  }

  .payment-card {
    width: auto;
  }

  .bottom-buttons {
    margin-top: 15px;
    align-items: center;
    justify-content: center;
  }
}
