.privacy-policy-body {
  font-size: 20px;
  line-height: 1.7;
  ul {
    margin-left: 25px;
    list-style: disc;

    li {
      font-size: 20px !important;
      margin: 15px 0;
      line-height: 1.7;
      display: list-item;
    }
  }
  .alpha-ul {
    list-style: lower-alpha;
  }
  a {
    color: blue;
    text-decoration: underline;
  }
  .italic-text-container {
    p {
      font-style: italic;
      margin: 1rem 0;
    }
  }
  h4 {
    margin: 2rem 0 1rem;
  }
}

.terms-conditions-body {
  font-size: 20px;
  line-height: 1.7;
  ul {
    margin-left: 25px;
    list-style: none;

    li {
      font-size: 20px !important;
      margin: 15px 0;
      line-height: 1.7;
      display: list-item;
    }
  }
  h4 {
    margin: 2rem 0 1rem;
  }
}