.login.success-message {
  .header {
    font-size: 43px !important;

    i {
      font-size: 35px !important;
    }
  }

  .subheader {
    font-size: 14px;
    color: #a8a4a4;
    margin-bottom: 10px;

    br {
      display: none;
    }
  }

  .navigation-buttons {
    button {
      padding: 2px 40px;
      width: 200px;
      font-weight: 600;
    }
  }
}

.login.register {
  margin-left: 60px;
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;

  .input-mobile-heading {
    display: none;
  }
  .theme-form .theme-form-field {
    margin-right: 0 !important;
    div {
      width: 100%;
    }
    input, label {
      margin-left: 15px;
      font-size: 14px;
    }
  }
  .btn-photo-upload {
    margin-left: 15px;
  }

  .header {
    font-size: 35px !important;
    margin-bottom: 25px;
    font-weight: 800;
  }

  .upload-photo-row {
    margin-top: -6px;

    .theme-form-field {
      border-bottom: 1px solid #dbdbdb;
      color: #a4a8ab;
      padding-left: 15px;

      div {
        width: 100%;
      }
      label {
        margin-bottom: 3px;
      }
      input, label {
        margin-left: 15px;
        font-size: 14px;
      }
    }

    .file-input-container {
      right: 114px;
      bottom: 8px;

      button {
        padding: 5px 15px;
      }
    }
  }

  .subheader {
    font-size: 14px;
    color: #a8a4a4;
    margin-bottom: 10px
  }

  .custom-input {
    width: 100%;
  }

  .login-or-divider {
    margin-top: 15px;
    text-transform: lowercase;
    color: lightgrey
  }

  .theme-form-link {
    color: #F74377;
    font-size: 13px;
    text-decoration-color: lightgray !important;
    text-decoration: underline;
  }

  .theme-btn-submit {
    padding: 10px !important;
    font-weight: 600
  }

  .signin-link {
    position: absolute;
    bottom: 20px;

    span {
      color: #a09e9e;
      margin-right: 15px;
      font-size: 13px
    }

    a {
      font-size: 13px;

      i {
        margin-left: 10px
      }
    }
  }
}

@media(max-width: 500px) {
  .login.success-message {
    .subheader {
        width: 100%;
        text-align: center;
        margin: 30px 0;
        br {
          display: block;
        }
    }

    .navigation-buttons {
      margin-left: auto;
      margin-right: auto;

      button {
        padding: 2px 15px !important;
        width: 150px;
      }
    }

    .theme-btn-submit {
      width: 100%;
    }

    .theme-btn-primary.theme-btn-submit.theme-btn-link {
      margin-left: 5% !important;
      padding: 4px !important
    }
  }

  .login.register {
    margin-left: 0;
    padding: 30px;
    display: block;
    text-align: center;

    .input-mobile-heading {

    }
    .already-signin-wrapper {
      position: unset !important;
      display: flex;
      width: 100%;
      display: flex;
      justify-content: center;
    }

    .social-buttons {
      justify-content: center;
    }

    .theme-form-field {
      width: 100%;
      margin: 25px 0;
      display: block;

      .input-mobile-heading {
        font-size: 13px;
      }
      input {
        text-align: center;
      }
      label {
        display: none;
      }
      div {
        width: 100%;
      }
    }
    .upload-photo-row {
      text-align: left;
    }

    .flex-row.signin-link {
      width: 100%;
      justify-content: space-evenly;

      > button {
        padding: 2px 10px
      }
    }

    .theme-btn-submit {
      width: 100%;
    }

    .subheader {
      display: none
    }

    .upload-photo-row {
      position: relative;

      .file-input-container {
        position: absolute;
        top: 8px;
        right: 0px;
      }
    }

    .signin-link {
      position: absolute;
      bottom: 12px;
    }
  }
}

.verification-code {
  padding-top: 15px;
}
