
.styles_modal__gNwvD {
    max-width: 70% !important;
}

.pay-info-history {
    padding: 0 !important;
}

.order-modal-body .pay-info {
    padding: 0;
}

.order-modal-header {
    padding: 60px 20px;
}

.paid-items {
    padding: 0 80px;
}