$primary-color: #F82462;
$primary-light-color: #FA6691;
$secondary-color: #252525;
$secondary-light-color: #3A3A3A;
$white: #ffffff;
$gray-light: #f4f5f6;
$gray-lighten: #f8f8f8;

html, body, .container {
  height: 100%;
}

body {
  margin: 0;
  padding :0;
  box-sizing: border-box;
  font-family: 'Helvetica Neue',sans-serif;
  color:$secondary-color;
  font-size: 16px;
  line-height: 144%;
}

.primary-color {
  color: $primary-color;
}

.bg-gray-light{
  background-color: $gray-light;
}
input::-webkit-input-placeholder {
    font-size: 12px;
    line-height: 3;
}
.app-content {
  display: flex;
  width: 100%;
  max-width: 1000px;
  margin: 10px auto;
  & > * {
    width: 100%;
  }
}
.X-center{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.Y-center{
  position: absolute;
  top:50%;
  transform: translateY(-50%);
}
.v-center{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.h-center{
  display:flex;
  justify-content: center;
}
.center{
  display: flex;
  justify-content: center;
  align-items: center;
}
.theme-form-group{
  display: flex;
  padding-right:4rem;

}
.theme-form-control{
  display: block;
  width: 100%;
  padding: .3rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-image: none;
  background-clip: padding-box;
  border:none;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  &:focus{
    outline: none;
  }
}

.social-buttons {
  display: flex;

  .btn-social {
    margin-right: 10px;
  }
}

.flex-row {
  display: flex;
  align-items: center;

  & > *:nth-child(n+2) {
    margin-left: 15px !important;
  }
}

.flex-align-start {
  align-items: flex-start;
}

.flex-align-stretch {
  align-items: stretch;
}

.btn-link, .btn-link:hover {
  color: $primary-color;
}

a, a:hover {
  color: inherit;
  text-decoration: none;
}

.breadcrumb {
  background: transparent;
  margin: 0;
  padding: 0;
  font-size: 12px;
  margin-bottom: 10px;
}

.theme-page-title {
  @extend h3;
}

.theme-table {
  background-color: $white !important;
  text-align: left;
  border: 20px solid #f4f5f6;
  margin-top: 15px;

  th {
    font-weight: lighter;
    color: #6c757d !important;
  }
  .gear, .rental-period {
    p {
      margin: 0.25rem;
      text-align: left;
    }
  }
  td {
    vertical-align: middle;
    .gear-img {
      width:70%;
    }
    .landrord-img {
      width :25%;
      border-radius:50%;
    }
  }
}

.dropdown-toggle {
  background: white;
  color: black;
  border: 1px solid lightgray;
  width: 100%;
  text-align: left;

  &::after {
    position: absolute;
    right: 10px;
    top: 50%;
  }
}
