html, body, .container {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Helvetica Neue', sans-serif;
  color: $secondary-color;
  font-size: 16px;
  zoom: 0.9;
}

a, a:hover {
  color: inherit;
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

button:focus, button:active {
  box-shadow: none !important;
  outline: none !important;
}

button:disabled,
button[disabled]{
  opacity: 0.5;
}

.theme-btn-secondery {
  border: solid 1px #D3D3D3;
}

input::-webkit-input-placeholder {
  font-size: 12px;
  line-height: 3;
}

/**
 Color classes
  */
.primary-color {
  color: $primary-color;
}

.bg-gray-light {
  background-color: $gray-light;
}

/**
 Placement classes
  */
.X-center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.Y-center {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.v-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.h-center {
  display: flex;
  justify-content: center;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.centered-content {
  max-width: 1300px;
  margin: 0 auto;
  padding: 10px;
  box-sizing: border-box;
  min-height: min-content;
}

.flex-row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  & > *:nth-child(n+2) {
    margin-left: 15px !important;
  }
}

.flex-align-start {
  align-items: flex-start;
}

.flex-align-stretch {
  align-items: stretch;
}

/**
  Common classes
 */

.social-buttons {
  display: flex;

  .btn-social {
    margin-right: 10px;
  }
}

.breadcrumb {
  background: transparent;
  margin: 0;
  padding: 0;
  font-size: 12px;
  margin-bottom: 10px;

  .active {
    font-weight: bold;
  }
}

.dropdown-toggle {
  background: white;
  color: black;
  border: 1px solid lightgray;
  width: 100%;
  text-align: left;

  &::after {
    position: absolute;
    right: 10px;
    top: 50%;
  }
}

.file-input-container {
  position: relative;

  input[type="file"] {
    opacity: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
  }
}

img {
  object-fit: cover;
}

.circle-loader {
  height: 100%;
  div {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.space_slash_span{
  margin-right:7px;
  margin-left:7px !important;
}

/* toast */
.Toastify__toast-container {
  width: 450px;

  & > div {
    padding: 12px 12px 15px;
  }
}
.toast-error {
  background-color: #d2003d;
  opacity: 1;
  border: none;

  span {
    background-color: #e61552;
  }
}
.toast-info {
  background-color: #f82462;
  opacity: 0.9;
  border: none;

  span {
    background-color: #ff608f;
  }
}
.toast-body {
  display: flex;
  font-size: 18px;
  color: white;

  .toast-icon {
    width: 17%;
    display: flex;
    align-items: center;
    justify-content: center;

    span {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      justify-content: center;
      align-items: center;
      display: flex;
    }
  }
  .toast-content-wrapper {
    width: 83%;
    margin-left: 10px;

    .toast-heading {
      font-weight: 600;
    }
  }
}

.breadcrumb-item {
  list-style: none;
}
.styles_overlay__CLSq- {
  z-index: 1100 !important;
}
.dropdown-menu {
  z-index: 1051;
}

.custom-beautiful-textfield, .gear-list-container > div > div > div {
  input {
    color: #252525;
    font-size: 16px !important;
    margin-left: 15px !important;

    @media (max-width: 767px) {
      &::placeholder {
        font-size: 9px;
      }
    }
  }
  label {
    margin-left: 15px !important;
    opacity: 0.6 !important;
    color: #252525 !important;
  }
  & > div:hover {
  }
  & > div:hover::before {
    border-bottom: solid 1px #ffaec4 !important;
  }
  & > div::before {
    border-bottom: solid 1px #eaeaea !important;
    &:hover {
      border-bottom: solid 1px #ffaec4 !important;
    }
  }
  & > div::after {
    border-bottom: solid 2px #ffaec4 !important;
  }
}

.star-ratings {
  display: flex !important;
  width: 55% !important;

  .star-container {
    padding: 0 !important;
    svg {
      width: 27px !important;
      height: 27px !important;
    }
  }
}

::-webkit-scrollbar {
  width: 0.3em;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 3px rgba(255, 255, 255, 1);
}

::-webkit-scrollbar-thumb {
  background-color: #CFCECF;
  outline: 1px solid slategrey;
}

@media (max-width: 1077px) {
  .notification-container {
    width: 100vw;
  }

  .custom-beautiful-textfield {
    input {
      //text-align: center;
      //margin-left: 0;
    }
    label {
      color: rgba(0, 0, 0, 0.54) !important;
      position: unset !important;
      margin-bottom: -20px !important;
      //transform-origin: top !important;
      //text-align: center;
    }
    & > div:hover {
    }
    & > div:hover:before {
      border-bottom: solid 1px #ffaec4 !important;
    }
    & > div:before {
      border-bottom: solid 1px #ddd !important;
      &:hover {
        border-bottom: solid 1px #ffaec4 !important;
      }
    }
    & > div:after {
      border-bottom: solid 1px #ffaec4 !important;
    }
  }
}

@media(max-width: 500px) {
  .mt-xs {
    margin-top: 10px;
  }

  .centered-content {
    margin: 0;
    padding: 15px !important;
  }

  .social-buttons .btn-social {
    font-size: 12px;

    span {
      font-size: 14px;
    }
  }
}

@media (min-width: 1400px) {
  .container {
    max-width: 1300px !important;
  }
}
