.custom-input {
  width: 100%;
  .label{
    color:$white;
    display: none;
  }
  .form-control{
    border: none;
    background-color: transparent;
    border-bottom: 1px solid lightgray;
    border-radius: 0;
    height: calc(2rem + 2px);
    // &::-webkit-input-placeholder{       // trying to add placeholder mixin but not working
    //   color:$white;
    // }
    &:focus{
      outline: none;
      box-shadow:none;
    }
  }
}
