$primary-color: #f82462;
$primary-light-color: #fa6691;
$primary-color-alpha: #f82462b8;

$secondary-color: #252525;
$secondary-light-color: #3a3a3a;

$white: #fff;
$gray-light: #f3f3f3;
$gray-lighten: #f8f8f8;

$navbar-height-lg: 127px;
$navbar-height-md: 93px;
$navbar-height-sm: 70px;
